<!--
  Generated template for the Confirmation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Finalizar pedido" checkout></headers>
	<div class="tab__default">
		<div class="tab__checkout">
			<div class="tab__checkout--item">Entrega</div>
			<div class="tab__checkout--item">Pagamento</div>
			<div class="tab__checkout--item active">Confirmação</div>
		</div>
	</div>
</ion-header>



<ion-content>

	<div class="loading__logo" *ngIf="loading">
		<div class="info">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85" style="enable-background:new 0 0 85 85;" xml:space="preserve"> <style type="text/css"> .path__logo{fill:none;stroke:#CF0A2C;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path class="path__logo" d="M15.8,38.3c2.9,0,4.7,2.4,5.3,5.3c0.7,3.3,2,9.5,2.8,12.7c0.7,2.8,2.4,5.3,5.3,5.3s4.5-2.5,5.3-5.3 c0.8-2.9,1.9-9.3,2.8-12.7c0.8-2.8,2.4-5.3,5.3-5.3c2.9,0,4.7,2.4,5.3,5.3c0.6,3.1,2.3,9.6,3.1,12.7c0.8,2.8,2.4,5.3,5.3,5.3 c2.9,0,4.8-2.4,5.3-5.3c0.4-2.1,1.2-5.7,1.6-7.8c0.5-2.9,2.4-5.3,5.3-5.3h6.2c2.9,0,5.2-2.5,5.2-5.4C77.3,19.3,61.6,5.1,42.5,5.1 C21.8,5.1,5.1,21.8,5.1,42.5S21.8,80,42.5,80c15.9,0,29.4-9.9,34.9-23.8"/> </svg>
			<div class="title__content center__title">
				<div class="title">
					<h2>Aguardando Confirmação</h2>
					<p>Esperando confirmação da loja.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="resume__order" *ngIf="!loading">

		<div class="message">
			<div class="ico success"></div>
			<div class="title__content center__title">
				<div class="title">
					<h2>Parabéns!</h2>
					<p>Sua compra foi realizada com sucesso!<br>A <strong>Webcarnes</strong> agradece a preferência.</p>
				</div>
			</div>
		</div>

		<div class="code__cupom">
			<div class="title__content">
				<div class="title alt">
					<h3>Número do pedido</h3>
				</div>
			</div>
			<div class="value__cupom">
				<p><span>#546853</span></p>
			</div>
		</div>

		<div class="delivery">
			<div class="title__content">
				<div class="title alt">
					<h3>Entrega agendada para</h3>
				</div>
			</div>
			<div class="list__delivery">
				<div class="list__delivery--item schedule__date">
					<div class="type">
						<span>qua</span>
						<p>09 de Nov, 2016</p>
					</div>
					<div class="price">
						<span>20:50</span>
					</div>
				</div>
				<div class="list__delivery--item">
					<div class="type">
						<p>Agendada</p>
					</div>
					<div class="price">
						<div class="select"></div>
						<span>R$ 12,90</span>
					</div>
				</div>
			</div>
		</div>

		<div class="title__content">
			<div class="title alt">
				<h3>Endereço</h3>
			</div>
		</div>
		<div class="my__Address">
			<p>Casa</p>
			<span>Rua das andorinhas, 326</span>
			<span>60123-000 - Fortaleza-CE</span>
		</div>

		<div class="buttons__confirmation">
			<button ion-button block class="button__default button__red button__outline" (click)="goToOrders()">Meus pedidos</button>
			<button ion-button block class="button__default button__red" (click)="goToHome()">Voltar para dashboard</button>
		</div>

	</div>

</ion-content>
