<!--
  Generated template for the HowWorks page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Como funciona"></headers>
</ion-header>


<ion-content>

	<ion-slides #howWorksSlider class="how__works">

		<ion-slide>
			<div class="row row__image" style="background-image: url(assets/images/thumb-how-works.jpg)">
				<div class="status">1 de 3</div>
			</div>
			<div class="row row__action">
				<p>Peça carne para o dia a dia e para o seu churrasco a qualquer hora, de onde estiver.</p>
				<div class="group__buttons">
					<div class="button__slide" (click)="goToNext()">
						<svg width="39px" height="26px" viewBox="0 0 39 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Como-Funciona" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.882954031"> <g id="Como-funciona-2" transform="translate(-194.000000, -537.000000)" fill="#FFFFFF"> <g id="Group-3" transform="translate(127.000000, 537.000000)"> <path d="M104.778684,13.7222308 C104.788947,13.7118462 104.788947,13.7118462 104.799211,13.6993846 C104.832053,13.6578462 104.864895,13.6246154 104.887474,13.581 C104.897737,13.5706154 104.897737,13.5602308 104.908,13.5498462 C104.930579,13.5062308 104.961368,13.4626154 104.983947,13.419 C104.983947,13.4086154 104.994211,13.3982308 104.994211,13.3982308 C105.014737,13.3546154 105.037316,13.311 105.059895,13.257 C105.059895,13.2466154 105.059895,13.2466154 105.070158,13.2362308 C105.092737,13.1926154 105.105053,13.1386154 105.125579,13.0846154 C105.125579,13.0742308 105.125579,13.0617692 105.135842,13.0617692 C105.146105,13.0077692 105.168684,12.9641538 105.168684,12.9101538 C105.168684,12.8893846 105.168684,12.879 105.178947,12.8561538 C105.191263,12.8125385 105.191263,12.771 105.201526,12.7273846 C105.211789,12.663 105.211789,12.609 105.211789,12.5446154 C105.211789,12.4781538 105.211789,12.4241538 105.201526,12.3597692 C105.201526,12.3161538 105.191263,12.2725385 105.178947,12.231 C105.178947,12.2081538 105.178947,12.1977692 105.168684,12.1749231 C105.158421,12.1209231 105.146105,12.0773077 105.135842,12.0233077 C105.135842,12.0129231 105.135842,12.0025385 105.125579,12.0025385 C105.115316,11.9485385 105.092737,11.9049231 105.070158,11.853 C105.070158,11.8405385 105.070158,11.8405385 105.059895,11.8301538 C105.037316,11.7844615 105.014737,11.7325385 104.994211,11.6889231 C104.994211,11.6785385 104.983947,11.6681538 104.983947,11.6681538 C104.961368,11.6245385 104.942895,11.5809231 104.908,11.5373077 C104.897737,11.5269231 104.897737,11.5165385 104.887474,11.5061538 C104.854632,11.4625385 104.832053,11.4189231 104.799211,11.3856923 C104.788947,11.3773846 104.788947,11.3773846 104.778684,11.3649231 C104.735579,11.3213077 104.702737,11.2673077 104.647316,11.2257692 L93.9346316,0.542076923 C93.2059474,-0.180692308 92.0277368,-0.180692308 91.3011053,0.542076923 C90.5744737,1.26692308 90.5744737,2.44661538 91.3011053,3.16938462 L98.8404211,10.6940769 L68.8637895,10.6940769 C67.8333684,10.6940769 67,11.5269231 67,12.5446154 C67,13.5706154 67.8333684,14.4034615 68.8637895,14.4034615 L98.8506842,14.4034615 L91.3647368,21.8741538 C90.6401579,22.5969231 90.6401579,23.7766154 91.3647368,24.4993846 C91.7239474,24.8566154 92.2001579,25.0393846 92.6763684,25.0393846 C93.1525789,25.0393846 93.6287895,24.8566154 93.9859474,24.4993846 L104.637053,13.8717692 C104.690421,13.8094615 104.735579,13.7658462 104.778684,13.7222308" id="arrow-right"></path> </g> </g> </g> </svg>
					</div>
				</div>
				<p class="skip" (click)="goToHome()">Pular</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="row row__image" style="background-image: url(assets/images/thumb-how-works.jpg)">
				<div class="status">2 de 3</div>
			</div>
			<div class="row row__action">
				<p>Peça carne para o dia a dia e para o seu churrasco a qualquer hora, de onde estiver.</p>
				<div class="group__buttons">
					<div class="button__slide" (click)="goToPrev()">
						<svg width="39px" height="26px" viewBox="0 0 39 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Como-Funciona" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.882954031"> <g id="Como-funciona-2" transform="translate(-127.000000, -537.000000)" fill="#FFFFFF"> <g id="Group-3" transform="translate(127.000000, 537.000000)"> <path d="M37.7786842,13.7222308 C37.7889474,13.7118462 37.7889474,13.7118462 37.7992105,13.6993846 C37.8320526,13.6578462 37.8648947,13.6246154 37.8874737,13.581 C37.8977368,13.5706154 37.8977368,13.5602308 37.908,13.5498462 C37.9305789,13.5062308 37.9613684,13.4626154 37.9839474,13.419 C37.9839474,13.4086154 37.9942105,13.3982308 37.9942105,13.3982308 C38.0147368,13.3546154 38.0373158,13.311 38.0598947,13.257 C38.0598947,13.2466154 38.0598947,13.2466154 38.0701579,13.2362308 C38.0927368,13.1926154 38.1050526,13.1386154 38.1255789,13.0846154 C38.1255789,13.0742308 38.1255789,13.0617692 38.1358421,13.0617692 C38.1461053,13.0077692 38.1686842,12.9641538 38.1686842,12.9101538 C38.1686842,12.8893846 38.1686842,12.879 38.1789474,12.8561538 C38.1912632,12.8125385 38.1912632,12.771 38.2015263,12.7273846 C38.2117895,12.663 38.2117895,12.609 38.2117895,12.5446154 C38.2117895,12.4781538 38.2117895,12.4241538 38.2015263,12.3597692 C38.2015263,12.3161538 38.1912632,12.2725385 38.1789474,12.231 C38.1789474,12.2081538 38.1789474,12.1977692 38.1686842,12.1749231 C38.1584211,12.1209231 38.1461053,12.0773077 38.1358421,12.0233077 C38.1358421,12.0129231 38.1358421,12.0025385 38.1255789,12.0025385 C38.1153158,11.9485385 38.0927368,11.9049231 38.0701579,11.853 C38.0701579,11.8405385 38.0701579,11.8405385 38.0598947,11.8301538 C38.0373158,11.7844615 38.0147368,11.7325385 37.9942105,11.6889231 C37.9942105,11.6785385 37.9839474,11.6681538 37.9839474,11.6681538 C37.9613684,11.6245385 37.9428947,11.5809231 37.908,11.5373077 C37.8977368,11.5269231 37.8977368,11.5165385 37.8874737,11.5061538 C37.8546316,11.4625385 37.8320526,11.4189231 37.7992105,11.3856923 C37.7889474,11.3773846 37.7889474,11.3773846 37.7786842,11.3649231 C37.7355789,11.3213077 37.7027368,11.2673077 37.6473158,11.2257692 L26.9346316,0.542076923 C26.2059474,-0.180692308 25.0277368,-0.180692308 24.3011053,0.542076923 C23.5744737,1.26692308 23.5744737,2.44661538 24.3011053,3.16938462 L31.8404211,10.6940769 L1.86378947,10.6940769 C0.833368421,10.6940769 0,11.5269231 0,12.5446154 C0,13.5706154 0.833368421,14.4034615 1.86378947,14.4034615 L31.8506842,14.4034615 L24.3647368,21.8741538 C23.6401579,22.5969231 23.6401579,23.7766154 24.3647368,24.4993846 C24.7239474,24.8566154 25.2001579,25.0393846 25.6763684,25.0393846 C26.1525789,25.0393846 26.6287895,24.8566154 26.9859474,24.4993846 L37.6370526,13.8717692 C37.6904211,13.8094615 37.7355789,13.7658462 37.7786842,13.7222308" id="arrow-left" transform="translate(19.105895, 12.519692) rotate(-180.000000) translate(-19.105895, -12.519692) "></path> </g> </g> </g> </svg>
					</div>
					<div class="button__slide" (click)="goToNext()">
						<svg width="39px" height="26px" viewBox="0 0 39 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Como-Funciona" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.882954031"> <g id="Como-funciona-2" transform="translate(-194.000000, -537.000000)" fill="#FFFFFF"> <g id="Group-3" transform="translate(127.000000, 537.000000)"> <path d="M104.778684,13.7222308 C104.788947,13.7118462 104.788947,13.7118462 104.799211,13.6993846 C104.832053,13.6578462 104.864895,13.6246154 104.887474,13.581 C104.897737,13.5706154 104.897737,13.5602308 104.908,13.5498462 C104.930579,13.5062308 104.961368,13.4626154 104.983947,13.419 C104.983947,13.4086154 104.994211,13.3982308 104.994211,13.3982308 C105.014737,13.3546154 105.037316,13.311 105.059895,13.257 C105.059895,13.2466154 105.059895,13.2466154 105.070158,13.2362308 C105.092737,13.1926154 105.105053,13.1386154 105.125579,13.0846154 C105.125579,13.0742308 105.125579,13.0617692 105.135842,13.0617692 C105.146105,13.0077692 105.168684,12.9641538 105.168684,12.9101538 C105.168684,12.8893846 105.168684,12.879 105.178947,12.8561538 C105.191263,12.8125385 105.191263,12.771 105.201526,12.7273846 C105.211789,12.663 105.211789,12.609 105.211789,12.5446154 C105.211789,12.4781538 105.211789,12.4241538 105.201526,12.3597692 C105.201526,12.3161538 105.191263,12.2725385 105.178947,12.231 C105.178947,12.2081538 105.178947,12.1977692 105.168684,12.1749231 C105.158421,12.1209231 105.146105,12.0773077 105.135842,12.0233077 C105.135842,12.0129231 105.135842,12.0025385 105.125579,12.0025385 C105.115316,11.9485385 105.092737,11.9049231 105.070158,11.853 C105.070158,11.8405385 105.070158,11.8405385 105.059895,11.8301538 C105.037316,11.7844615 105.014737,11.7325385 104.994211,11.6889231 C104.994211,11.6785385 104.983947,11.6681538 104.983947,11.6681538 C104.961368,11.6245385 104.942895,11.5809231 104.908,11.5373077 C104.897737,11.5269231 104.897737,11.5165385 104.887474,11.5061538 C104.854632,11.4625385 104.832053,11.4189231 104.799211,11.3856923 C104.788947,11.3773846 104.788947,11.3773846 104.778684,11.3649231 C104.735579,11.3213077 104.702737,11.2673077 104.647316,11.2257692 L93.9346316,0.542076923 C93.2059474,-0.180692308 92.0277368,-0.180692308 91.3011053,0.542076923 C90.5744737,1.26692308 90.5744737,2.44661538 91.3011053,3.16938462 L98.8404211,10.6940769 L68.8637895,10.6940769 C67.8333684,10.6940769 67,11.5269231 67,12.5446154 C67,13.5706154 67.8333684,14.4034615 68.8637895,14.4034615 L98.8506842,14.4034615 L91.3647368,21.8741538 C90.6401579,22.5969231 90.6401579,23.7766154 91.3647368,24.4993846 C91.7239474,24.8566154 92.2001579,25.0393846 92.6763684,25.0393846 C93.1525789,25.0393846 93.6287895,24.8566154 93.9859474,24.4993846 L104.637053,13.8717692 C104.690421,13.8094615 104.735579,13.7658462 104.778684,13.7222308" id="arrow-right"></path> </g> </g> </g> </svg>
					</div>
				</div>
				<p class="skip" (click)="goToHome()">Pular</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="row row__image" style="background-image: url(assets/images/thumb-how-works.jpg)">
				<div class="status">3 de 3</div>
			</div>
			<div class="row row__action">
				<p>Peça carne para o dia a dia e para o seu churrasco a qualquer hora, de onde estiver.</p>
				<div class="group__buttons">
					<div class="button__slide" (click)="goToPrev()">
						<svg width="39px" height="26px" viewBox="0 0 39 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Como-Funciona" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.882954031"> <g id="Como-funciona-2" transform="translate(-127.000000, -537.000000)" fill="#FFFFFF"> <g id="Group-3" transform="translate(127.000000, 537.000000)"> <path d="M37.7786842,13.7222308 C37.7889474,13.7118462 37.7889474,13.7118462 37.7992105,13.6993846 C37.8320526,13.6578462 37.8648947,13.6246154 37.8874737,13.581 C37.8977368,13.5706154 37.8977368,13.5602308 37.908,13.5498462 C37.9305789,13.5062308 37.9613684,13.4626154 37.9839474,13.419 C37.9839474,13.4086154 37.9942105,13.3982308 37.9942105,13.3982308 C38.0147368,13.3546154 38.0373158,13.311 38.0598947,13.257 C38.0598947,13.2466154 38.0598947,13.2466154 38.0701579,13.2362308 C38.0927368,13.1926154 38.1050526,13.1386154 38.1255789,13.0846154 C38.1255789,13.0742308 38.1255789,13.0617692 38.1358421,13.0617692 C38.1461053,13.0077692 38.1686842,12.9641538 38.1686842,12.9101538 C38.1686842,12.8893846 38.1686842,12.879 38.1789474,12.8561538 C38.1912632,12.8125385 38.1912632,12.771 38.2015263,12.7273846 C38.2117895,12.663 38.2117895,12.609 38.2117895,12.5446154 C38.2117895,12.4781538 38.2117895,12.4241538 38.2015263,12.3597692 C38.2015263,12.3161538 38.1912632,12.2725385 38.1789474,12.231 C38.1789474,12.2081538 38.1789474,12.1977692 38.1686842,12.1749231 C38.1584211,12.1209231 38.1461053,12.0773077 38.1358421,12.0233077 C38.1358421,12.0129231 38.1358421,12.0025385 38.1255789,12.0025385 C38.1153158,11.9485385 38.0927368,11.9049231 38.0701579,11.853 C38.0701579,11.8405385 38.0701579,11.8405385 38.0598947,11.8301538 C38.0373158,11.7844615 38.0147368,11.7325385 37.9942105,11.6889231 C37.9942105,11.6785385 37.9839474,11.6681538 37.9839474,11.6681538 C37.9613684,11.6245385 37.9428947,11.5809231 37.908,11.5373077 C37.8977368,11.5269231 37.8977368,11.5165385 37.8874737,11.5061538 C37.8546316,11.4625385 37.8320526,11.4189231 37.7992105,11.3856923 C37.7889474,11.3773846 37.7889474,11.3773846 37.7786842,11.3649231 C37.7355789,11.3213077 37.7027368,11.2673077 37.6473158,11.2257692 L26.9346316,0.542076923 C26.2059474,-0.180692308 25.0277368,-0.180692308 24.3011053,0.542076923 C23.5744737,1.26692308 23.5744737,2.44661538 24.3011053,3.16938462 L31.8404211,10.6940769 L1.86378947,10.6940769 C0.833368421,10.6940769 0,11.5269231 0,12.5446154 C0,13.5706154 0.833368421,14.4034615 1.86378947,14.4034615 L31.8506842,14.4034615 L24.3647368,21.8741538 C23.6401579,22.5969231 23.6401579,23.7766154 24.3647368,24.4993846 C24.7239474,24.8566154 25.2001579,25.0393846 25.6763684,25.0393846 C26.1525789,25.0393846 26.6287895,24.8566154 26.9859474,24.4993846 L37.6370526,13.8717692 C37.6904211,13.8094615 37.7355789,13.7658462 37.7786842,13.7222308" id="arrow-left" transform="translate(19.105895, 12.519692) rotate(-180.000000) translate(-19.105895, -12.519692) "></path> </g> </g> </g> </svg>
					</div>
				</div>
				<p class="skip" (click)="goToHome()">Pular</p>
			</div>
		</ion-slide>

	</ion-slides>

</ion-content>
