.how__works{
	height: 100%;

	.swiper-slide,
	.slide-zoom{height: 100%;}

	.status{
		color: $black;
		opacity: 0.5;
		padding-top: 1.6rem;
	}

	.row{
		height: 50%;
		min-height: 175px;
	}

	.row__image{
		background-size: cover;
		background-position: center;
	}

	.row__action{
		padding: 1.6rem;
		background: $secondary;
		@include flexbox(column nowrap, space-between, center, center);

		p{
			color: $white;
			font-size: 1.6rem;
			line-height: 1.5;
			width: 80%;
			margin: auto;
			@extend %helv;
		}
	}

	.skip{
		text-transform: uppercase;
	}

	.group__buttons{
		@include flexbox(row nowrap, center, center, center);

		.button__slide{
			padding: 20px;
		}

	}

}