<!--
  Generated template for the ProductsSingle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Produtos" checkout></headers>
</ion-header>


<ion-content>

	<div class="single">

		<div class="single__header">
			<div class="single__thumb">
				<img src="assets/images/thumb-single.jpg" alt="">
				<span class="stamp"></span>
			</div>
			<div class="single__info">
				<h2>ALCATRA MIOLO MASTER GRILL</h2>
				<div class="brand">Sadia</div>
				<div class="pricing">R$ 59,90 / KG</div>
			</div>
		</div>

		<div class="title__content">
			<p>Utiliza porção extremamente marmorizada do contra-filet, este corte já seduziu os EUA e Argentina e está se tornando o queridinho dos brasileiros em restaurantes renomados e em todas as grelhas espalhadas por aí.</p>
			<div class="title">
				<h3>QUANTIDADE (KG)</h3>
			</div>
			<p>*A quantidade de entrega pode variar 20% para mais ou para menos</p>
		</div>

		<div class="selects">
			<div class="qty">
				<div class="minus"></div>
				<span>20KG</span>
				<div class="plus"></div>
			</div>
			<div class="type__cut">
				<span class="type__label">Tipo de corte</span>
			 	<ion-item>
					<ion-select [(ngModel)]="typeCut" [selectOptions]="typeCutTitle">
						<ion-option value="corte 1" selected="true">Corte 1</ion-option>
						<ion-option value="corte 2">Corte 2</ion-option>
						<ion-option value="corte 3">Corte 3</ion-option>
						<ion-option value="corte 4">Corte 4</ion-option>
					</ion-select>
			 	</ion-item>
			</div>
		</div>

		<div class="action__btn">
			<button *ngIf="purchaseBtn" ion-button block class="button__default button__green" (click)="purchase()">
				comprar
			</button>
			<button *ngIf="!purchaseBtn" ion-button block class="button__default button__green" (click)="goTo()">
				continuar comprando
			</button>
		</div>

		<div class="title__content">
			<div class="title alt">
				<h3>Relacionados</h3>
			</div>
		</div>
		<div class="list__products list__products--related">
			<ion-item *ngFor="let item of relatedProducts" (click)="goToSinlge()">
				<div class="info__products--wrap">
					<div class="thumb">
						<img src="{{item.imageProduct}}" alt="">
						<span class="stamp" *ngIf="item.stamp"></span>
					</div>
					<div class="info__products">
						<h2>{{item.nameProduct}}</h2>
						<p>{{item.priceProduct}}</p>
						<p class="brand">{{item.brandProduct}}</p>
					</div>
					<span class="add"></span>
				</div>
			</ion-item>
		</div>

	</div>

</ion-content>


<ion-footer class="footer__resume">
	<ion-toolbar>

		<div *ngIf="purchaseBtn" class="items">
			<svg width="18px" height="19px" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Header" transform="translate(-324.000000, -43.000000)" fill="#FFFFFF"> <g id="header"> <g id="Page-1" transform="translate(324.000000, 43.000000)"> <path d="M16.5404727,10.2028914 C16.5404727,10.8076343 16.0462909,11.2924057 15.4430182,11.2924057 L5.01338182,11.2924057 C4.40683636,11.2924057 3.91592727,10.8032914 3.91592727,10.2066914 L3.91592727,4.59083429 L16.5404727,6.31169143 L16.5404727,10.2028914 Z M6.55756364,15.5690343 C7.14501818,15.5690343 7.62774545,16.0424057 7.62774545,16.6270629 C7.62774545,17.2122629 7.14501818,17.6861771 6.55756364,17.6861771 C5.97065455,17.6861771 5.48738182,17.2084629 5.48738182,16.6270629 C5.48738182,16.0462057 5.97065455,15.5690343 6.55756364,15.5690343 L6.55756364,15.5690343 Z M14.9379273,15.5690343 C15.5248364,15.5690343 16.0070182,16.0424057 16.0070182,16.6270629 C16.0070182,17.2122629 15.5248364,17.6861771 14.9379273,17.6861771 C14.3499273,17.6861771 13.8677455,17.2084629 13.8677455,16.6270629 C13.8677455,16.0462057 14.3499273,15.5690343 14.9379273,15.5690343 L14.9379273,15.5690343 Z M17.5866545,5.79597714 C17.5866545,5.78783429 17.5828364,5.77643429 17.5828364,5.76883429 C17.5828364,5.76123429 17.5790182,5.75363429 17.5790182,5.74549143 C17.5746545,5.73789143 17.5746545,5.73029143 17.5713818,5.71889143 C17.5670182,5.71129143 17.5670182,5.70314857 17.5637455,5.69554857 C17.5593818,5.68794857 17.5593818,5.68034857 17.5555636,5.67220571 C17.5517455,5.66460571 17.5479273,5.65700571 17.5435636,5.64506286 C17.5402909,5.63800571 17.5364727,5.63040571 17.5321091,5.62606286 C17.5282909,5.61846286 17.5244727,5.61086286 17.5201091,5.60326286 C17.5168364,5.59566286 17.5124727,5.59186286 17.5092,5.58372 C17.5053818,5.57666286 17.4972,5.56852 17.4933818,5.56092 C17.4890182,5.55332 17.4857455,5.54952 17.4781091,5.54192 C17.4737455,5.53377714 17.4661091,5.53052 17.4622909,5.52237714 C17.4584727,5.51477714 17.4502909,5.51097714 17.4470182,5.50337714 C17.4421091,5.49577714 17.4350182,5.49143429 17.4312,5.48763429 C17.4235636,5.48003429 17.4192,5.47623429 17.4115636,5.46809143 C17.4039273,5.46429143 17.4001091,5.45669143 17.3919273,5.45289143 C17.3842909,5.44909143 17.3766545,5.44149143 17.3690182,5.43769143 C17.3608364,5.43389143 17.3575636,5.43009143 17.3493818,5.42629143 C17.3417455,5.42194857 17.3341091,5.41869143 17.3259273,5.41054857 C17.3182909,5.40729143 17.3106545,5.40294857 17.3030182,5.39914857 C17.2948364,5.39534857 17.2872,5.39154857 17.2795636,5.38774857 C17.2719273,5.38394857 17.2637455,5.38014857 17.2561091,5.37580571 C17.2479273,5.37254857 17.2402909,5.37254857 17.2326545,5.36820571 C17.2250182,5.36440571 17.2130182,5.36114857 17.2059273,5.36114857 C17.1977455,5.36114857 17.1901091,5.35680571 17.1862909,5.35680571 C17.1742909,5.35300571 17.1661091,5.35300571 17.1546545,5.35300571 C17.1508364,5.35300571 17.1470182,5.34920571 17.1393818,5.34920571 L3.92029091,3.54366286 L3.92029091,1.71966286 C3.92029091,1.70012 3.92029091,1.68057714 3.91592727,1.66537714 C3.91592727,1.66157714 3.91592727,1.65777714 3.91265455,1.65017714 C3.91265455,1.63877714 3.90829091,1.62737714 3.90829091,1.61543429 C3.90447273,1.60403429 3.90447273,1.59643429 3.90065455,1.58503429 C3.90065455,1.57689143 3.89683636,1.57309143 3.89683636,1.56494857 C3.89301818,1.55409143 3.8892,1.54214857 3.88483636,1.53074857 C3.88483636,1.52694857 3.88101818,1.51934857 3.88101818,1.51554857 C3.8772,1.50414857 3.87338182,1.49600571 3.86574545,1.48460571 C3.86138182,1.48080571 3.86138182,1.47320571 3.85810909,1.46940571 C3.85374545,1.46126286 3.85047273,1.45366286 3.84283636,1.44606286 C3.83847273,1.43792 3.8352,1.43466286 3.83029091,1.42706286 C3.82647273,1.41892 3.8232,1.41566286 3.81883636,1.40752 C3.81501818,1.39992 3.80738182,1.39232 3.80301818,1.38417714 C3.79974545,1.38092 3.79538182,1.37657714 3.79156364,1.37277714 C3.78392727,1.36517714 3.77629091,1.35757714 3.76810909,1.34997714 C3.76483636,1.34617714 3.76101818,1.34237714 3.75665455,1.33803429 C3.74847273,1.33043429 3.74138182,1.32283429 3.72938182,1.31523429 C3.72501818,1.31143429 3.71792727,1.30763429 3.71410909,1.30329143 C3.70647273,1.29569143 3.69883636,1.29189143 3.69065455,1.28429143 C3.67865455,1.27669143 3.6672,1.26909143 3.65956364,1.26529143 C3.65574545,1.26149143 3.65138182,1.26149143 3.64756364,1.25714857 C3.63229091,1.25009143 3.61265455,1.24194857 3.59738182,1.23434857 L0.729927273,0.0411485714 C0.461563636,-0.07068 0.154472727,0.0525485714 0.0415636364,0.318548571 C-0.0713454545,0.584005714 0.0530181818,0.888005714 0.321381818,0.999834286 L2.86592727,2.06220571 L2.86592727,13.4480914 C2.86592727,14.5256629 3.68301818,15.4186629 4.73683636,15.5532914 C4.54647273,15.8692343 4.43356364,16.2383771 4.43356364,16.6308629 C4.43356364,17.7898629 5.38701818,18.7290057 6.5532,18.7290057 C7.72101818,18.7290057 8.67392727,17.7860629 8.67392727,16.6308629 C8.67392727,16.24652 8.5692,15.8806343 8.38265455,15.5728343 L13.1052,15.5728343 C12.9181091,15.8844343 12.8133818,16.24652 12.8133818,16.6308629 C12.8133818,17.7898629 13.7668364,18.7290057 14.9335636,18.7290057 C16.1008364,18.7290057 17.0537455,17.7860629 17.0537455,16.6308629 C17.0537455,15.4762057 16.1008364,14.5332629 14.9335636,14.5332629 L5.01338182,14.5332629 C4.40683636,14.5332629 3.91592727,14.0446914 3.91592727,13.4480914 L3.91592727,12.0393771 C4.23501818,12.2239486 4.61247273,12.3314343 5.01338182,12.3314343 L15.4430182,12.3314343 C16.6255636,12.3314343 17.5904727,11.3770914 17.5904727,10.2066914 L17.5904727,5.81877714 C17.5904727,5.81117714 17.5904727,5.80357714 17.5866545,5.79597714 L17.5866545,5.79597714 Z" id="Fill-1"></path> </g> </g> </g> </g> </svg>
			<span>0 Item</span>
		</div>

		<div *ngIf="!purchaseBtn" class="items">
			<svg width="18px" height="19px" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Header" transform="translate(-324.000000, -43.000000)" fill="#FFFFFF"> <g id="header"> <g id="Page-1" transform="translate(324.000000, 43.000000)"> <path d="M16.5404727,10.2028914 C16.5404727,10.8076343 16.0462909,11.2924057 15.4430182,11.2924057 L5.01338182,11.2924057 C4.40683636,11.2924057 3.91592727,10.8032914 3.91592727,10.2066914 L3.91592727,4.59083429 L16.5404727,6.31169143 L16.5404727,10.2028914 Z M6.55756364,15.5690343 C7.14501818,15.5690343 7.62774545,16.0424057 7.62774545,16.6270629 C7.62774545,17.2122629 7.14501818,17.6861771 6.55756364,17.6861771 C5.97065455,17.6861771 5.48738182,17.2084629 5.48738182,16.6270629 C5.48738182,16.0462057 5.97065455,15.5690343 6.55756364,15.5690343 L6.55756364,15.5690343 Z M14.9379273,15.5690343 C15.5248364,15.5690343 16.0070182,16.0424057 16.0070182,16.6270629 C16.0070182,17.2122629 15.5248364,17.6861771 14.9379273,17.6861771 C14.3499273,17.6861771 13.8677455,17.2084629 13.8677455,16.6270629 C13.8677455,16.0462057 14.3499273,15.5690343 14.9379273,15.5690343 L14.9379273,15.5690343 Z M17.5866545,5.79597714 C17.5866545,5.78783429 17.5828364,5.77643429 17.5828364,5.76883429 C17.5828364,5.76123429 17.5790182,5.75363429 17.5790182,5.74549143 C17.5746545,5.73789143 17.5746545,5.73029143 17.5713818,5.71889143 C17.5670182,5.71129143 17.5670182,5.70314857 17.5637455,5.69554857 C17.5593818,5.68794857 17.5593818,5.68034857 17.5555636,5.67220571 C17.5517455,5.66460571 17.5479273,5.65700571 17.5435636,5.64506286 C17.5402909,5.63800571 17.5364727,5.63040571 17.5321091,5.62606286 C17.5282909,5.61846286 17.5244727,5.61086286 17.5201091,5.60326286 C17.5168364,5.59566286 17.5124727,5.59186286 17.5092,5.58372 C17.5053818,5.57666286 17.4972,5.56852 17.4933818,5.56092 C17.4890182,5.55332 17.4857455,5.54952 17.4781091,5.54192 C17.4737455,5.53377714 17.4661091,5.53052 17.4622909,5.52237714 C17.4584727,5.51477714 17.4502909,5.51097714 17.4470182,5.50337714 C17.4421091,5.49577714 17.4350182,5.49143429 17.4312,5.48763429 C17.4235636,5.48003429 17.4192,5.47623429 17.4115636,5.46809143 C17.4039273,5.46429143 17.4001091,5.45669143 17.3919273,5.45289143 C17.3842909,5.44909143 17.3766545,5.44149143 17.3690182,5.43769143 C17.3608364,5.43389143 17.3575636,5.43009143 17.3493818,5.42629143 C17.3417455,5.42194857 17.3341091,5.41869143 17.3259273,5.41054857 C17.3182909,5.40729143 17.3106545,5.40294857 17.3030182,5.39914857 C17.2948364,5.39534857 17.2872,5.39154857 17.2795636,5.38774857 C17.2719273,5.38394857 17.2637455,5.38014857 17.2561091,5.37580571 C17.2479273,5.37254857 17.2402909,5.37254857 17.2326545,5.36820571 C17.2250182,5.36440571 17.2130182,5.36114857 17.2059273,5.36114857 C17.1977455,5.36114857 17.1901091,5.35680571 17.1862909,5.35680571 C17.1742909,5.35300571 17.1661091,5.35300571 17.1546545,5.35300571 C17.1508364,5.35300571 17.1470182,5.34920571 17.1393818,5.34920571 L3.92029091,3.54366286 L3.92029091,1.71966286 C3.92029091,1.70012 3.92029091,1.68057714 3.91592727,1.66537714 C3.91592727,1.66157714 3.91592727,1.65777714 3.91265455,1.65017714 C3.91265455,1.63877714 3.90829091,1.62737714 3.90829091,1.61543429 C3.90447273,1.60403429 3.90447273,1.59643429 3.90065455,1.58503429 C3.90065455,1.57689143 3.89683636,1.57309143 3.89683636,1.56494857 C3.89301818,1.55409143 3.8892,1.54214857 3.88483636,1.53074857 C3.88483636,1.52694857 3.88101818,1.51934857 3.88101818,1.51554857 C3.8772,1.50414857 3.87338182,1.49600571 3.86574545,1.48460571 C3.86138182,1.48080571 3.86138182,1.47320571 3.85810909,1.46940571 C3.85374545,1.46126286 3.85047273,1.45366286 3.84283636,1.44606286 C3.83847273,1.43792 3.8352,1.43466286 3.83029091,1.42706286 C3.82647273,1.41892 3.8232,1.41566286 3.81883636,1.40752 C3.81501818,1.39992 3.80738182,1.39232 3.80301818,1.38417714 C3.79974545,1.38092 3.79538182,1.37657714 3.79156364,1.37277714 C3.78392727,1.36517714 3.77629091,1.35757714 3.76810909,1.34997714 C3.76483636,1.34617714 3.76101818,1.34237714 3.75665455,1.33803429 C3.74847273,1.33043429 3.74138182,1.32283429 3.72938182,1.31523429 C3.72501818,1.31143429 3.71792727,1.30763429 3.71410909,1.30329143 C3.70647273,1.29569143 3.69883636,1.29189143 3.69065455,1.28429143 C3.67865455,1.27669143 3.6672,1.26909143 3.65956364,1.26529143 C3.65574545,1.26149143 3.65138182,1.26149143 3.64756364,1.25714857 C3.63229091,1.25009143 3.61265455,1.24194857 3.59738182,1.23434857 L0.729927273,0.0411485714 C0.461563636,-0.07068 0.154472727,0.0525485714 0.0415636364,0.318548571 C-0.0713454545,0.584005714 0.0530181818,0.888005714 0.321381818,0.999834286 L2.86592727,2.06220571 L2.86592727,13.4480914 C2.86592727,14.5256629 3.68301818,15.4186629 4.73683636,15.5532914 C4.54647273,15.8692343 4.43356364,16.2383771 4.43356364,16.6308629 C4.43356364,17.7898629 5.38701818,18.7290057 6.5532,18.7290057 C7.72101818,18.7290057 8.67392727,17.7860629 8.67392727,16.6308629 C8.67392727,16.24652 8.5692,15.8806343 8.38265455,15.5728343 L13.1052,15.5728343 C12.9181091,15.8844343 12.8133818,16.24652 12.8133818,16.6308629 C12.8133818,17.7898629 13.7668364,18.7290057 14.9335636,18.7290057 C16.1008364,18.7290057 17.0537455,17.7860629 17.0537455,16.6308629 C17.0537455,15.4762057 16.1008364,14.5332629 14.9335636,14.5332629 L5.01338182,14.5332629 C4.40683636,14.5332629 3.91592727,14.0446914 3.91592727,13.4480914 L3.91592727,12.0393771 C4.23501818,12.2239486 4.61247273,12.3314343 5.01338182,12.3314343 L15.4430182,12.3314343 C16.6255636,12.3314343 17.5904727,11.3770914 17.5904727,10.2066914 L17.5904727,5.81877714 C17.5904727,5.81117714 17.5904727,5.80357714 17.5866545,5.79597714 L17.5866545,5.79597714 Z" id="Fill-1"></path> </g> </g> </g> </g> </svg>
			<span>1 Item</span>
		</div>

		<div *ngIf="purchaseBtn" class="mini__subtotal">
			<span>Subtotal</span>
			<p>R$ 0,00</p>
		</div>

		<div *ngIf="!purchaseBtn" class="mini__subtotal">
			<span>Subtotal</span>
			<p>R$ 1.198,00</p>
		</div>

		<button ion-button class="btn__to--checkout" (click)="goToCheckout()">
			<svg width="15px" height="24px" viewBox="0 0 15 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Produtos---Lista-produtos" transform="translate(-318.000000, -550.000000)" fill="#FFFFFF"> <g id="Group-5" transform="translate(0.000000, 532.000000)"> <path d="M319.84325,29.5780714 L332.00225,19.1200714 C332.30125,18.8620714 332.30125,18.4497857 332.00225,18.1935 C331.70225,17.9355 331.22425,17.9355 330.92525,18.1935 L318.22425,29.1169286 C317.92525,29.3740714 317.92525,29.7863571 318.22425,30.0435 L330.92525,40.9626429 C331.07225,41.0895 331.26925,41.1572143 331.46025,41.1572143 C331.65325,41.1572143 331.85025,41.0946429 331.99725,40.9626429 C332.29625,40.7055 332.29625,40.2940714 331.99725,40.0360714 L319.84325,29.5780714 Z" id="Fill-1" transform="translate(325.113250, 29.578607) rotate(-180.000000) translate(-325.113250, -29.578607) "></path> </g> </g> </g> </svg>
		</button>
	</ion-toolbar>
</ion-footer>
