<!--
  Generated template for the ProductsSelectAddress page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Selecione um endereço" checkout></headers>
</ion-header>


<ion-content>

	<div class="content__default">
		<div class="list__store" *ngFor="let aA of allAddress">
			<ion-item>
				<ion-label>
					<span>{{aA.typeAddress}}</span>
					<span>{{aA.address}}</span>
					<span>{{aA.postCodeCity}}</span>
					<div class="icone icon__edit"></div>
				</ion-label>
				<ion-checkbox [disabled]="aA.status" [(ngModel)]="aA.state" (click)="buttonState(aA.id)" color="green"></ion-checkbox>
			</ion-item>
		</div>
	</div>

</ion-content>

<ion-footer no-shadow class="footer__fixed footer__address shadows">
	<ion-toolbar *ngIf="check" (click)="goToProductsStoresPage()">
		<div class="use__this">
			<p>Usar este endereço?</p>
			<button ion-button block class="button__default button__green">
				<svg width="33px" height="23px" viewBox="0 0 33 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Login-e-cadastro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Cadastre-se" transform="translate(-164.000000, -763.000000)" stroke-width="2" stroke="#FFFFFF"> <g id="Button-GREEN" transform="translate(15.000000, 751.000000)"> <polyline id="Page-1" points="150 22.7825131 160.525662 33.3081754 180.834752 13"></polyline> </g> </g> </g> </svg>
			</button>
		</div>
	</ion-toolbar>
	<ion-toolbar *ngIf="!check">
		<div class="btn__address">
			<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Produtos---Endereço" transform="translate(-18.000000, -498.000000)" fill="#000000"> <g id="list" transform="translate(0.000000, 480.000000)"> <g id="row"> <g id="Group-11" transform="translate(18.000000, 18.000000)"> <path d="M9.6,9 C9.93135,9 10.2,9.26865 10.2,9.6 C10.2,9.93135 9.93135,10.2 9.6,10.2 C9.26865,10.2 9,9.93135 9,9.6 C9,9.26865 9.26865,9 9.6,9 L9.6,9 Z" id="Fill-2"></path> <path d="M10,0.8 C4.9271,0.8 0.8,4.9271 0.8,10 C0.8,15.0729 4.9271,19.2 10,19.2 C15.0729,19.2 19.2,15.0729 19.2,10 C19.2,4.9271 15.0729,0.8 10,0.8 M10,20 C4.486,20 0,15.514 0,10 C0,4.486 4.486,0 10,0 C15.514,0 20,4.486 20,10 C20,15.514 15.514,20 10,20" id="Fill-4"></path> <polygon id="Fill-6" points="9.55 2 10.35 2 10.35 0.4 9.55 0.4"></polygon> <polygon id="Fill-8" points="9.55 19.6 10.35 19.6 10.35 18 9.55 18"></polygon> <polygon id="Fill-9" points="17.95 10.4 19.55 10.4 19.55 9.6 17.95 9.6"></polygon> <polygon id="Fill-10" points="0.35 10.4 1.95 10.4 1.95 9.6 0.35 9.6"></polygon> <path d="M7.9462,11.177 L13.6,13.6 L11.17695,7.94625 L5.52315,5.5232 L7.9462,11.177 Z M15.1232,15.12315 L7.3369,11.78625 L4,4 L11.78625,7.3369 L15.1232,15.12315 Z" id="Fill-1"></path> </g> </g> </g> </g> </g> </svg>
			<p>Meus endereço</p>
		</div>
		<div class="btn__address">
			<svg width="17px" height="20px" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Produtos---Sem-endereço" transform="translate(-20.000000, -554.000000)" fill="#000000"> <g id="list" transform="translate(0.000000, 536.000000)"> <g id="row"> <g id="Page-1" transform="translate(20.000000, 18.000000)"> <path d="M8.07121662,0.949554896 C4.14433234,0.949554896 0.949554896,4.14433234 0.949554896,8.07121662 C0.949554896,9.7295549 1.33198813,11.3353709 2.08635015,12.8440356 C2.69353116,14.058457 3.54219585,15.2150148 4.60872404,16.2814837 C6.06890208,17.7417211 7.53525223,18.6270623 8.07091988,18.9265875 C8.61002967,18.6245697 10.0921068,17.7286053 11.5544807,16.2606528 C12.6157864,15.1953709 13.4599407,14.0406528 14.0637389,12.8286053 C14.812997,11.3245104 15.1928783,9.72391691 15.1928783,8.07121662 C15.1928783,4.14433234 11.9981009,0.949554896 8.07121662,0.949554896 L8.07121662,0.949554896 Z M8.07121662,19.9966766 L7.8588724,19.8905045 C7.77851632,19.8503264 5.86866469,18.884273 3.93727003,16.9528783 C1.36148368,14.3771513 0,11.3058754 0,8.07121662 C0,3.62071217 3.62077151,0 8.07121662,0 C12.5216617,0 16.1424332,3.62071217 16.1424332,8.07121662 C16.1424332,11.3058754 14.7809496,14.3771513 12.2051632,16.9529377 C10.2737685,18.8843323 8.36385757,19.8503858 8.28356083,19.8905638 L8.07121662,19.9966766 Z" id="Fill-1"></path> <path d="M8.07121662,4.74777448 C7.28587537,4.74777448 6.64688427,5.38676558 6.64688427,6.17210682 C6.64688427,6.95744807 7.28587537,7.59643917 8.07121662,7.59643917 C8.85655786,7.59643917 9.49554896,6.95744807 9.49554896,6.17210682 C9.49554896,5.38676558 8.85655786,4.74777448 8.07121662,4.74777448 M8.07121662,8.54599407 C6.76225519,8.54599407 5.69732938,7.48106825 5.69732938,6.17210682 C5.69732938,4.8631454 6.76225519,3.79821958 8.07121662,3.79821958 C9.38017804,3.79821958 10.4451039,4.8631454 10.4451039,6.17210682 C10.4451039,7.48106825 9.38017804,8.54599407 8.07121662,8.54599407" id="Fill-3"></path> </g> </g> </g> </g> </g> </svg>
			<p>Adicionar endereço</p>
		</div>
	</ion-toolbar>
</ion-footer>
