.list__store{
	position: relative;

	.item-block{
		padding: 0 1.6rem;
		@include flexbox(row-reverse nowrap, space-between, center, flex-start);
	}

	.checkbox{
		margin: 18px 0 0 0 !important;
	}
	.item-inner{
		border-bottom: 0 !important;
	}

	.icone{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 6px;
		right: 40px;
		display: none;

	}

	.item-checkbox-checked{
		.icone{
			display: block;
		}
	}

	.label{
		// margin-top: 0 !important;

		span{
			display: block;
			font-size: 1.4rem;

			&:first-child{
				color: $black;
				font-size: 1.6rem;
			}
		}
	}
}


.use__this{
	text-align: center;
	padding: 0 1.6rem 0.5rem 1.6rem;
}