.advantages{
	height: 100%;

	.swiper-slide,
	.slide-zoom{height: 100%;}

	.advantages__content{
		padding: 2rem;
		height: 100%;
	}

	.advantages__wrp{
		height: 80%;
		display: block;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);

		.bg{
			background-size: cover;
			background-position: center;
			min-height: 140px;
			height: 60%;
		}

		.text{
			text-align: center;
			color: $black;
			opacity: 0.8;
			font-size: 1.6rem;
			line-height: 1.5;
			width: 80%;
			margin: auto;
			height: 40%;
			min-height: 100px;
			@extend %helv;
			@include flexbox(row nowrap, center, center, center);

		}
	}

	.swiper-pagination{
		bottom: 15%;
		@include flexbox(row nowrap, center, center, center);
		.swiper-pagination-bullet{
		    width: 10px;
    		height: 10px;
    		opacity: 0.1;

    		&.swiper-pagination-bullet-active{
    			background: $secondary;
    			width: 12px;
    			height: 12px;
    			opacity: 1;
    		}
		}
	}
}


.skip__advantages{
	text-transform: uppercase;
	color: $secondary;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 99;
}