<!--
  Generated template for the Advantages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Vantagens"></headers>
</ion-header>

<ion-content>

	<ion-slides slidesPerView="3" class="advantages">

		<ion-slide>
			<div class="advantages__content">
				<div class="advantages__wrp">
					<div class="bg" style="background-image: url(assets/images/thumb-advantages.jpg)"></div>
					<div class="text">
						<p>
							Peça carne para o dia a dia e para o seu churrasco a qualquer hora,de onde estiver.
						</p>
					</div>
				</div>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="advantages__content">
				<div class="advantages__wrp">
					<div class="bg" style="background-image: url(assets/images/thumb-advantages.jpg)"></div>
					<div class="text">
						<p>
							Peça carne para o dia a dia e para o seu churrasco a qualquer hora,de onde estiver.
						</p>
					</div>
				</div>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="advantages__content">
				<div class="advantages__wrp">
					<div class="bg" style="background-image: url(assets/images/thumb-advantages.jpg)"></div>
					<div class="text">
						<p>
							Peça carne para o dia a dia e para o seu churrasco a qualquer hora,de onde estiver.
						</p>
					</div>
				</div>
			</div>
		</ion-slide>

	</ion-slides>

	<div class="skip__advantages" (click)="goToHome()">Pular</div>

</ion-content>
