<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow >
	<headers title="Meu Perfil" displayMenuBar></headers>
</ion-header>



<ion-content padding>

	<div class="profile">

		<ion-item-group>
			<ion-item-divider color="light">CONTA</ion-item-divider>
			<ion-item (click)="goToEditeProfile()">Editar perfil</ion-item>
			<ion-item (click)="goToNewPassword()">Alterar senha</ion-item>
		</ion-item-group>


		<ion-item-group>
			<ion-item-divider color="light">Configurações</ion-item-divider>
			<ion-item>
				<ion-label>Notificação de push</ion-label>
  				<ion-toggle color="green" checked="true"></ion-toggle>
			</ion-item>
			<ion-item>Privacidade</ion-item>
		</ion-item-group>

		<ion-item-group>
			<ion-item-divider color="light">Sobre</ion-item-divider>
			<ion-item>Política de privacidade</ion-item>
			<ion-item>Termos de serviços</ion-item>
			<ion-item class="logout" (click)="logout()">
				<ion-icon item-left class="icon__logout"></ion-icon>
				Sair
			</ion-item>
		</ion-item-group>




	</div>

</ion-content>
