.profile{

	ion-item-group{
		margin-bottom: 20px;
	}


	ion-item-divider{
		background-color: transparent;
		font-size: 1.4rem;
		font-weight: bold;
		color: $black;
		text-transform: uppercase;
		padding-left: 0;
	}

	.item-block{
		padding-left: 0;

		ion-label{
			color: $black;
			opacity: 0.7;
		}

		.item-inner{
			border: 0;
			padding: 0;
		}
	}

	.logout{
		ion-label{
			opacity: 1;
			color: $secondary;
			@include flexbox(row nowrap, flex-start, center, center);
		}


	}
}