<!--
  Generated template for the AccountActivate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Ativar conta"></headers>
</ion-header>


<ion-content padding>

	<div class="info__text">
		<h2>Ative seu cadastro</h2>
		<p>Enviamos um email com um<br>código de ativação.</p>
	</div>

	<form [formGroup]="activateForm" (ngSubmit)="activate(activateForm.value, activateForm.valid)" novalidate>
		<ion-list>
			<ion-item>
				<ion-label floating>Código de ativação</ion-label>
				<ion-input type="text" formControlName="code"></ion-input>
			</ion-item>

		</ion-list>
		<button [disabled]="!activateForm.valid" type="submit" ion-button block class="button__default button__green">
			Ativar
		</button>
	</form>

	<has-account hasAccount="true"></has-account>

</ion-content>
