.content__auto{
	height: 100%;
	position: relative;

	.col{width: 50%;}


	.sponsor{
		background: $gray;
		padding: 1rem 1.6rem;
		min-height: 56px;
		height: 10%;
		@include flexbox(row nowrap, space-between, center, center);

		p{
			margin: 0;
			text-transform: uppercase;
			font-size: 1rem;
			@extend %helv;
		}
	}


	.offers{
		min-height: 160px;
		height: 28%;
		overflow: hidden;

		.bg__sponsor{
			min-height: 160px;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center right;
		}
	}


	.actions{
		text-align: center;
		background: $gray;
		min-height: 170px;
		height: 30%;
		@include flexbox(row nowrap, center, center, stretch);

		.col{
			@include flexbox(column nowrap, center, center, center);
			&:first-child{border-right: 1px solid darken($gray, 10%);}
		}

		p{
			color: $black;
			font-size: 1.2em;
			text-transform: uppercase;
			margin: 15px 0 0 0;
			@extend %quenda;
		}

	}


	.more__products{
		width: 100%;
		min-height: 160px;
		height: 32%;
		overflow: hidden;
		@include flexbox(row nowrap, center, center, stretch);

		.action{
			padding: 2rem;
			background: $secondary;
			@include flexbox(column nowrap, space-around, center, flex-start);

			p{
				text-transform: uppercase;
				margin: 0;
				color: $white;
				opacity: 0.9;
				font-size: 1.9rem;
				margin-top: 15px;
				@extend %quenda;
			}
		}

		.bg__products{
			min-height: 180px;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
		}
	}
}