<!--
  Generated template for the HasAccount component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div *ngIf="hasAccount" class="has__account" (click)="redirectLogin()">
	<p>Já possui uma conta? <span>Entrar</span></p>
</div>

<button *ngIf="!hasAccount" ion-button block class="button__default button__cadastre clear" (click)="redirectPage()">
	<p>Não tem conta? <span>Cadastrar-se</span></p>
</button>