<!--
  Generated template for the NewPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Nova senha"></headers>
</ion-header>


<ion-content padding>

	<div class="info__text">
		<p>Para redefinir sua senha digite<br>abaixo a nova senha e confirme</p>
	</div>

    <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value, resetForm.valid)">
        <ion-list>
            <ion-item>
                <ion-label floating>Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Confirmar Senha</ion-label>
                <ion-input type="password" formControlName="password_confirmation"></ion-input>
            </ion-item>

        </ion-list>
        <button [disabled]="!resetForm.valid" type="submit" ion-button block class="button__default button__green">
            Enviar
        </button>
    </form>


</ion-content>
