// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #898988;
$title-color:       #252524;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1D1D1B,
  secondary:  #CF0A2C,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  green:      #50D287,
  gray: 	  #F2F2F2,
  facebook:   #5882E1
);


$primary:    	#1D1D1B;
$primary-light:	#2B2B27;
$secondary:  	#CF0A2C;
$danger:     	#f53d3d;
$light:      	#f4f4f4;
$dark:       	#222;
$green:      	#50D287;
$gray:			#F2F2F2;
$gray-light:	#F9F9F9;
$facebook:		#5882E1;
$black: 		black;
$white: 		white;
$text: 			#7A7A7A;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: $primary-light;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background: $primary-light;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$text-input-wp-background-color: rgba(255,255,255,0.7);
$toolbar-wp-background: $primary-light;




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";



// FONT THEME
@import "scss/global/flexbox";
@import "scss/global/media";
@import "scss/global/mixins";
@import "scss/global/fontface";
@import "scss/global/type";
@import "scss/global/default";
@import "scss/global/modal";
@import "scss/global/icons-cards";






// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
