<!--
  Generated template for the ProductsNotAddress page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Selecione um endereço" checkout></headers>
</ion-header>


<ion-content padding>

	<div class="content__default pd-footer">
		<div class="icon__not">
			<svg width="123px" height="74px" viewBox="0 0 123 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.54"> <g id="Produtos---Sem-endereço" transform="translate(-119.000000, -231.000000)" fill="#020303"> <path d="M220.75175,300.560383 L200.531063,300.560383 L200.531063,280.756452 C200.531063,270.655452 191.90825,262.118659 181.69925,262.118659 L180.311656,262.118659 C170.174406,262.118659 161.928281,270.479383 161.928281,280.756452 L161.928281,300.560383 L139.870281,300.560383 L139.870281,258.351038 L180.311656,235.889486 L220.75175,258.351038 L220.75175,300.560383 Z M196.855156,300.560383 L165.605469,300.560383 L165.605469,280.756452 C165.605469,272.497797 172.202625,265.779107 180.311656,265.779107 L181.69925,265.779107 C189.915906,265.779107 196.855156,272.639417 196.855156,280.756452 L196.855156,300.560383 Z M152.737875,240.152141 L152.737875,246.767486 L139.870281,253.794934 L139.870281,240.152141 L152.737875,240.152141 Z M136.193094,236.494245 L156.413781,236.494245 L156.413781,234.662107 L136.193094,234.662107 L136.193094,236.494245 Z M239.860312,268.402279 L241.627156,265.189659 L181.082969,232.128245 L180.311656,231.699555 L179.535219,232.132072 L156.413781,244.759279 L156.413781,240.150866 L160.090969,240.150866 L160.090969,230.999107 L132.517188,230.999107 L132.517188,240.152141 L136.194375,240.152141 L136.194375,255.801866 L119,265.189659 L120.766844,268.402279 L136.194375,259.97521 L136.194375,300.560383 L123.3255,300.560383 L123.3255,304.220831 L136.193094,304.220831 L161.928281,304.220831 L200.531062,304.220831 L224.427656,304.220831 L239.135125,304.220831 L239.135125,300.560383 L224.428938,300.560383 L224.428938,259.973934 L239.860312,268.402279 Z" id="Fill-1"></path> </g> </g> </svg>
		</div>
		<div class="title__not">
			<h2>Você não tem um<br>endereço cadastrado</h2>
		</div>
	</div>



</ion-content>

<ion-footer no-shadow class="footer__fixed footer__address shadows">
	<ion-toolbar>
		<div class="btn__address">
			<svg width="17px" height="20px" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Produtos---Sem-endereço" transform="translate(-20.000000, -554.000000)" fill="#000000"> <g id="list" transform="translate(0.000000, 536.000000)"> <g id="row"> <g id="Page-1" transform="translate(20.000000, 18.000000)"> <path d="M8.07121662,0.949554896 C4.14433234,0.949554896 0.949554896,4.14433234 0.949554896,8.07121662 C0.949554896,9.7295549 1.33198813,11.3353709 2.08635015,12.8440356 C2.69353116,14.058457 3.54219585,15.2150148 4.60872404,16.2814837 C6.06890208,17.7417211 7.53525223,18.6270623 8.07091988,18.9265875 C8.61002967,18.6245697 10.0921068,17.7286053 11.5544807,16.2606528 C12.6157864,15.1953709 13.4599407,14.0406528 14.0637389,12.8286053 C14.812997,11.3245104 15.1928783,9.72391691 15.1928783,8.07121662 C15.1928783,4.14433234 11.9981009,0.949554896 8.07121662,0.949554896 L8.07121662,0.949554896 Z M8.07121662,19.9966766 L7.8588724,19.8905045 C7.77851632,19.8503264 5.86866469,18.884273 3.93727003,16.9528783 C1.36148368,14.3771513 0,11.3058754 0,8.07121662 C0,3.62071217 3.62077151,0 8.07121662,0 C12.5216617,0 16.1424332,3.62071217 16.1424332,8.07121662 C16.1424332,11.3058754 14.7809496,14.3771513 12.2051632,16.9529377 C10.2737685,18.8843323 8.36385757,19.8503858 8.28356083,19.8905638 L8.07121662,19.9966766 Z" id="Fill-1"></path> <path d="M8.07121662,4.74777448 C7.28587537,4.74777448 6.64688427,5.38676558 6.64688427,6.17210682 C6.64688427,6.95744807 7.28587537,7.59643917 8.07121662,7.59643917 C8.85655786,7.59643917 9.49554896,6.95744807 9.49554896,6.17210682 C9.49554896,5.38676558 8.85655786,4.74777448 8.07121662,4.74777448 M8.07121662,8.54599407 C6.76225519,8.54599407 5.69732938,7.48106825 5.69732938,6.17210682 C5.69732938,4.8631454 6.76225519,3.79821958 8.07121662,3.79821958 C9.38017804,3.79821958 10.4451039,4.8631454 10.4451039,6.17210682 C10.4451039,7.48106825 9.38017804,8.54599407 8.07121662,8.54599407" id="Fill-3"></path> </g> </g> </g> </g> </g> </svg>
			<p>Adicionar endereço</p>
		</div>
	</ion-toolbar>
</ion-footer>
