<!--
  Generated template for the Payment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Finalizar pedido" checkout></headers>
	<div class="tab__default">
		<div class="tab__checkout">
			<div class="tab__checkout--item">Entrega</div>
			<div class="tab__checkout--item active">Pagamento</div>
			<div class="tab__checkout--item">Confirmação</div>
		</div>
	</div>
</ion-header>



<ion-content>

	<div class="title__content center__title">
		<div class="title">
			<h3>Forma de pagamento</h3>
			<p>Escolha abaixo a melhor forma  para<br>você efetuar o pagamento</p>
		</div>
	</div>

	<div class="content__default payment__select">
		<div class="list__store paypal">
			<ion-item>
				<ion-label>
					<span>
						<svg width="126px" height="26px" viewBox="0 0 126 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="61.5364173 13.6402962 61.5364173 0.0353917941 0.14290604 0.0353917941 0.14290604 13.6402962 61.5364173 13.6402962"></polygon> <polygon id="path-3" points="25.2857159 0.069049333 5.78801295e-05 0.069049333 5.78801295e-05 24.8950861 25.2857159 24.8950861 25.2857159 0.069049333"></polygon> <polygon id="path-5" points="0.116772741 6.36725407 5.84710856 6.36725407 5.84710856 0.0890425108 0.116772741 0.0890425108 0.116772741 6.36725407"></polygon> <polygon id="path-7" points="4.52448972 6.20551167 4.52448972 0.088985913 0.096992627 0.088985913 0.096992627 6.20551167 4.52448972 6.20551167"></polygon> </defs> <g id="Carrinho" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Carrinho---PAGAMENTO" transform="translate(-16.000000, -325.000000)"> <g id="Group" transform="translate(0.000000, 302.000000)"> <g id="pagseguro" transform="translate(16.000000, 23.000000)"> <path d="M37.5931875,13.8934474 C39.038599,12.7091382 39.0225373,10.5595532 38.0301825,9.94207104 C37.0384065,9.32487188 34.7951174,9.81727287 34.0640913,11.5835491 C33.3339335,13.3498254 33.2746064,14.4268818 32.8746547,15.3879127 C33.7111672,15.3277775 36.147776,15.0776152 37.5931875,13.8934474 L37.5931875,13.8934474 Z M28.135285,20.6976366 C29.5542163,16.4830804 30.9052833,12.2065496 31.9251311,7.79531596 C32.7208382,7.79531596 33.6289774,7.81399324 34.4243951,7.81399324 L34.1238526,9.47952541 C36.1437244,8.19800941 37.4738097,7.86606323 38.7979624,7.97204264 C43.5863855,8.35464386 41.0118774,14.5069677 38.4812134,15.9855856 C36.9965881,16.8536546 34.9848195,17.2405006 32.2061392,16.8545036 C31.8785376,18.1355951 31.5509361,19.4165451 31.2234793,20.6976366 L28.135285,20.6976366 Z" id="Fill-1" fill="#241F1F"></path> <path d="M46.1499254,10.9620627 C44.892769,12.1459475 44.9066602,14.2959569 45.7699423,14.9131561 C46.6323563,15.5306382 48.5842189,15.0380958 49.2197428,13.2718195 C49.8552666,11.5055432 49.9069246,10.4286283 50.2544948,9.46759742 C49.5270863,9.5277326 47.4070818,9.77775344 46.1499254,10.9620627 M51.5460899,17.0849557 C50.645041,17.0849557 49.8575818,17.103067 48.9566776,17.103067 L49.1246747,15.1947302 C47.2729446,16.9058236 44.2717152,18.0367894 42.8948916,16.4241762 C41.0088676,13.9044416 42.7951931,10.6275696 44.9208408,9.28153211 C47.2803243,7.78706683 50.4130863,7.86446434 53.5348511,7.79980134 C52.4171858,10.837123 51.6664805,13.9508518 51.5460899,17.0849557" id="Fill-3" fill="#241F1F"></path> <path d="M57.3188514,10.9620627 C56.0615503,12.1459475 56.0754415,14.2959569 56.9387237,14.9131561 C57.8018611,15.5306382 59.7534344,15.0380958 60.3889582,13.2718195 C61.024482,11.5055432 61.07614,10.4286283 61.4237102,9.46759742 C60.696157,9.5277326 58.5764419,9.77775344 57.3188514,10.9620627 M52.5723914,20.7689074 L53.0253034,18.4133064 C55.0379402,19.0508808 56.7849072,19.3573579 58.0970497,18.7135578 C59.1184893,18.2126671 59.8771531,17.1366012 60.2938901,15.1947302 C58.4424494,16.9058236 55.4406412,18.0367894 54.064107,16.4241762 C52.1775042,13.9044416 53.9641191,10.6275696 56.0900563,9.28153211 C58.4495397,7.78706683 61.5823017,7.86446434 64.7043559,7.79980134 C63.7373237,10.4266474 63.7193808,14.5489492 62.4357443,17.4821309 C61.7582573,19.03093 60.6194658,20.0252121 59.2568228,20.5943032 C57.26401,21.426008 54.7912262,21.3497425 52.5723914,20.7689074" id="Fill-5" fill="#241F1F"></path> <g id="Group-9" transform="translate(64.102243, 7.571656)"> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-8"></g> <path d="M24.1431911,3.39040715 C22.8861794,4.57429192 22.899926,6.72430138 23.7623399,7.34150054 C24.6262008,7.95898269 26.5774847,7.46644021 27.2135873,5.70016394 C27.848677,3.93388766 27.9004797,2.85697275 28.2480499,1.89594187 C27.520352,1.95607705 25.4007816,2.20609789 24.1431911,3.39040715 L24.1431911,3.39040715 Z M1.07998534,7.19901554 C0.779442764,7.83404302 0.44243571,8.50600056 0.14290604,9.14102803 C3.80411363,9.92023844 6.6075377,9.45033509 7.71348228,8.29842808 C8.79381489,6.9956879 8.61265009,5.52117335 6.739215,4.44949374 C6.3396974,4.17839021 5.21060078,3.63137234 5.23968554,2.98389335 C5.29279056,1.51107674 7.58325199,1.86127571 8.98872623,2.28759874 L9.43758663,0.271443116 C8.45521614,0.0484477287 7.20775465,-0.0179132081 6.2054155,0.0781615811 C4.98530237,0.194894572 3.67229164,0.710925141 2.65432486,1.70067941 C1.86368229,2.50337791 1.70074972,3.58552811 1.99043977,4.24376069 C2.33815465,5.0331587 3.46580427,5.36510488 4.04069866,5.69492864 C5.00295581,6.13313721 5.57596909,6.46423442 5.41303653,7.13067368 C5.27615002,7.69028457 4.57883916,8.14801939 3.33108827,7.9302593 C2.55592864,7.79470754 1.65082811,7.52501895 1.07998534,7.19901554 L1.07998534,7.19901554 Z M13.1301942,4.12037745 C13.582238,3.14165976 14.3478474,2.1516225 15.9036653,1.95777498 C17.1284088,1.84160797 17.2592179,3.10402221 16.5394785,3.58948996 C15.2326899,4.14032818 15.0865426,3.38545484 13.1301942,4.12037745 L13.1301942,4.12037745 Z M18.2078733,7.38196798 C18.1333526,7.99265839 17.9079095,8.6033488 17.8336782,9.2144637 C14.9230312,9.6052716 11.79953,10.2642117 10.187279,8.04189849 C8.51888428,4.89562601 10.9253954,2.01408981 13.0357049,0.931656615 C16.740612,-0.693266623 19.3138178,0.134193417 19.8574569,1.73789248 C20.9557324,4.55094532 17.559037,6.40692914 12.660931,5.84264893 C12.1502836,8.28852346 14.7059807,8.25187638 18.2078733,7.38196798 L18.2078733,7.38196798 Z M33.575337,0.198431936 C34.4743601,0.223051985 35.3743962,0.247672034 36.273564,0.272009094 C35.7983681,2.2264731 35.0236426,4.10778444 34.5496043,6.06238994 C33.8463607,8.4403471 36.7464446,8.19301465 37.9973789,6.72203747 C39.1115714,4.80662595 39.610064,2.50833022 40.3219896,0.198431936 L43.0200719,0.198431936 C42.0015263,3.25259147 41.1142239,6.30675101 40.6961847,9.36119353 C39.8968601,9.31223642 38.9469025,9.26313782 38.1478673,9.2144637 C38.1730451,8.72545859 38.1973548,8.23701945 38.222822,7.74815583 C35.5188071,10.177051 31.0685486,10.8183043 31.6259343,6.72203747 C31.9458667,4.54740796 32.8479285,2.37306144 33.575337,0.198431936 L33.575337,0.198431936 Z M42.3456237,9.2144637 C43.5508327,6.22029785 44.3621674,2.39952092 44.9688958,0.272009094 L47.1428735,0.272009094 L47.0674846,2.17779898 C48.0170081,0.894868036 49.7411125,0.186546395 51.4908288,0.272009094 L50.6661817,2.69085817 C48.4914805,2.41168945 46.9589594,4.11301974 46.1111602,6.92494063 C45.895412,7.64090298 45.7233633,8.42973501 45.5976187,9.27558934 L42.3456237,9.2144637 Z M53.4402316,1.40792722 C50.6912148,3.20929414 49.5885984,6.24548387 50.9785897,8.18834533 C52.368581,10.1310653 55.7250497,10.2461004 58.4734876,8.44501642 C61.2227938,6.64393248 62.3248315,3.60760126 60.9359977,1.66459831 C59.5451382,-0.278263152 56.1895377,-0.39301522 53.4402316,1.40792722 L53.4402316,1.40792722 Z M54.2313082,4.17145698 C53.3435718,5.72280306 53.454991,7.36880899 54.4801928,7.84677752 C55.5053946,8.32446307 57.0564374,7.45356421 57.9447527,5.90179365 C58.8324891,4.35002308 58.7216487,2.70458314 57.6958681,2.2264731 C56.6706663,1.74864606 55.1190447,2.61926193 54.2313082,4.17145698 L54.2313082,4.17145698 Z M19.3967311,13.1972519 L19.8496431,10.8416508 C21.8618458,11.4792252 23.6089575,11.7857024 24.9216789,11.1419023 C25.9422503,10.6410116 26.7012035,9.56494566 27.117651,7.62307466 C25.2664997,9.33416807 22.2648362,10.4651339 20.8884468,8.85252068 C19.0018439,6.332786 20.7886035,3.05591407 22.9141066,1.70987656 C25.2733007,0.21541128 28.4069309,0.29280879 31.528551,0.228145788 C30.561374,2.85499183 30.5434312,6.97729361 29.2595052,9.91047532 C28.5820183,11.4592745 27.4440949,12.4535566 26.0811626,13.0226476 C24.088205,13.8543525 21.6149871,13.7780869 19.3967311,13.1972519 L19.3967311,13.1972519 Z" id="Fill-7" fill="#93D629" mask="url(#mask-2)"></path> </g> <g id="Group-12" transform="translate(0.000000, 0.072445)"> <mask id="mask-4" fill="white"> <use xlink:href="#path-3"></use> </mask> <g id="Clip-11"></g> <path d="M2.99390758,4.46384129 C2.05653888,5.54132217 1.3496778,6.76652335 0.832518843,8.10704257 C0.289892629,9.50104673 5.78801295e-05,10.9336789 5.78801295e-05,12.4613954 C5.78801295e-05,14.192581 0.377870425,15.7961386 1.02685138,17.3111206 C1.67380652,18.814783 2.5579255,20.1076186 3.72175021,21.2436782 C4.85388554,22.3501654 6.18035341,23.2356382 7.71374274,23.8804288 C9.24684267,24.5346996 10.9133563,24.8950861 12.6423805,24.8950861 C14.4004894,24.8950861 16.0403782,24.550264 17.6012606,23.8804288 C19.0945679,23.2431375 20.4418726,22.3715311 21.5932531,21.2436782 C22.733781,20.1264373 23.6137037,18.8068593 24.2457547,17.3111206 C24.9097845,15.7802912 25.2857159,14.192581 25.2857159,12.4613954 C25.2857159,10.9336789 24.9932766,9.50104673 24.4520974,8.10704257 C23.9229283,6.76652335 23.2222893,5.56764015 22.2915769,4.46384129 C21.3599962,3.38437948 20.2819788,2.4905585 19.0605633,1.7993577 C17.1421264,0.716500026 15.1629154,0.0690210341 12.8692706,0.0690210341 L12.5403667,0.0690210341 C10.2766749,0.0690210341 8.20282983,0.703058045 6.25270357,1.7993577 C5.01812041,2.48518171 3.92925047,3.38848282 2.99390758,4.46384129" id="Fill-10" fill="#241F1F" mask="url(#mask-4)"></path> </g> <path d="M116.921537,21.3151329 C117.242482,21.3151329 117.497589,21.4160185 117.68758,21.6391554 C117.880177,21.8513972 117.983493,22.1257551 117.983493,22.4882641 C117.983493,22.8241721 117.880177,23.113104 117.68758,23.3137432 C117.497589,23.5223062 117.242482,23.6230503 116.921537,23.6230503 C116.606235,23.6230503 116.361691,23.526834 116.172134,23.3137432 C115.96666,23.113104 115.876367,22.8241721 115.876367,22.4882641 C115.876367,22.1257551 115.96666,21.8513972 116.172134,21.6391554 C116.361691,21.4160185 116.606235,21.3151329 116.921537,21.3151329 M116.921537,19.2702539 C116.452563,19.2702539 116.019186,19.3432651 115.608092,19.5057008 C115.201629,19.6684195 114.843062,19.8911319 114.538901,20.1926568 C114.231703,20.4931912 113.990632,20.8293822 113.836092,21.2150963 C113.670265,21.6050552 113.596324,22.0292558 113.596324,22.4882641 C113.596324,22.9240673 113.670265,23.3485509 113.836092,23.7385098 C113.990632,24.108801 114.231703,24.4608394 114.538901,24.7610908 C114.859123,25.0464853 115.213784,25.2819322 115.624154,25.4440849 C116.019186,25.5943521 116.464718,25.6829277 116.921537,25.6829277 C117.396154,25.6829277 117.817955,25.5943521 118.240625,25.4440849 C118.634644,25.2819322 119.001749,25.0464853 119.309816,24.7610908 C119.628301,24.4608394 119.857796,24.108801 120.024057,23.7226624 C120.189594,23.3369483 120.268166,22.9246333 120.268166,22.4882641 C120.268166,22.0292558 120.189594,21.6050552 120.024057,21.2150963 C119.87024,20.8293822 119.640745,20.4931912 119.320958,20.1926568 C119.017811,19.8911319 118.64622,19.6684195 118.240625,19.5057008 C117.830255,19.3432651 117.396154,19.2702539 116.921537,19.2702539" id="Fill-13" fill="#241F1F"></path> <g id="Group-17" transform="translate(106.788839, 19.315702)"> <mask id="mask-6" fill="white"> <use xlink:href="#path-5"></use> </mask> <g id="Clip-16"></g> <path d="M5.7734561,4.48471173 C5.82468001,4.19464793 5.84710856,3.83624228 5.84710856,3.39676025 L5.84710856,0.0890425108 L3.60237244,0.0890425108 L3.60237244,3.42336123 C3.60237244,3.79747278 3.56301395,4.06008663 3.46085552,4.22238086 C3.35855239,4.37264806 3.20849816,4.44565924 2.97495184,4.44565924 C2.74632532,4.44565924 2.59323238,4.37264806 2.49411266,4.22238086 C2.40324086,4.08286725 2.35172754,3.8097828 2.35172754,3.42336123 L2.35172754,0.0890425108 L0.119290947,0.0890425108 L0.119290947,3.39676025 C0.106267918,3.85930589 0.145481705,4.2110613 0.197139721,4.48471173 C0.244456727,4.7702477 0.347917458,4.99380907 0.461796613,5.18327025 C0.719073789,5.56813538 1.06157945,5.85480331 1.49553573,6.05515957 C1.91820537,6.26740138 2.41539568,6.36729652 2.97495184,6.36729652 C3.5395725,6.36729652 4.02518679,6.26740138 4.45538085,6.05515957 C4.88948182,5.85480331 5.2367626,5.56813538 5.47667573,5.18327025 C5.60285441,4.99380907 5.70602575,4.75836216 5.7734561,4.48471173" id="Fill-15" fill="#241F1F" mask="url(#mask-6)"></path> </g> <g id="Group-20" transform="translate(121.114171, 19.315702)"> <mask id="mask-8" fill="white"> <use xlink:href="#path-7"></use> </mask> <g id="Clip-19"></g> <polygon id="Fill-18" fill="#241F1F" mask="url(#mask-8)" points="2.34332045 0.088985913 0.096992627 0.088985913 0.096992627 6.20551167 4.52453313 6.20551167 4.52453313 4.22246576 2.34332045 4.22246576"></polygon> </g> <path d="M21.0893632,4.63881343 C19.5235609,2.7780188 17.4970329,1.5794186 14.9960325,1.11687296 C12.5403233,0.664939417 10.2146997,1.02702393 8.0122161,2.19449534 C6.88094896,2.81650531 5.92433512,3.59246134 5.1532271,4.50722351 C4.36055873,5.44292687 3.75411967,6.5192758 3.3635735,7.72650717 C2.9617407,8.96373538 2.85900347,10.2625137 2.99386417,11.5290313 C3.322768,10.7145888 3.82646983,9.96820509 4.42466097,9.25507263 C5.287509,8.24848051 6.35771259,7.49459763 7.55163496,6.94107101 C8.74295273,6.41782422 10.0504649,6.12592099 11.4084774,6.09649013 C12.775172,6.09649013 14.1033762,6.35740605 15.3354995,6.8816433 C16.6343296,7.39526846 17.7663202,8.17943118 18.731182,9.22578326 C19.0922093,9.57782166 19.391739,9.99961687 19.6876511,10.4224025 C20.1192922,10.4224025 20.5528144,10.4516919 20.9226684,10.5537095 C21.88999,10.8147669 22.6525607,11.2974047 23.2485814,12.0217153 L23.2778108,11.5584622 C23.383008,10.2908126 23.2485814,9.09391035 22.8895799,7.9172418 C22.5177,6.7497704 21.9193642,5.64328313 21.0893632,4.63881343" id="Fill-21" fill="#FFAA00"></path> <path d="M2.7247071,16.3467929 C2.88894196,17.3231052 3.18847163,18.2578181 3.68985826,19.1125865 C4.1556486,19.9585824 4.79189592,20.7322745 5.58456429,21.4172495 L5.98610769,21.7390081 C7.35482805,22.6549022 8.81355202,23.308041 10.4107542,23.6306485 C11.4401523,23.8208172 12.477943,23.760399 13.4756517,23.5297629 C14.5347134,23.308041 15.5345927,22.8862458 16.4702249,22.2621134 C15.6052064,22.0710958 14.8343878,21.6173228 14.2357625,20.9341872 L14.0006245,20.6728468 C12.7450598,20.8034462 11.4808131,20.7636863 10.2146853,20.5119675 C8.60807756,20.150449 7.22040145,19.4957537 5.92432065,18.5907547 C4.68944809,17.6750021 3.66222049,16.5073892 2.88894196,15.1408349 L2.69330713,14.7467727 C2.66277536,15.2704439 2.66277536,15.8225556 2.7247071,16.3467929" id="Fill-23" fill="#FFAA00"></path> <path d="M14.5646374,8.14916549 C13.4034173,7.65634003 12.1358425,7.43504258 10.8420769,7.43504258 C9.57609378,7.46419045 8.38188201,7.72652132 7.28215955,8.24849466 C6.18041129,8.73283045 5.22582325,9.44709486 4.42461756,10.3628475 C3.85666879,11.0469736 3.39304895,11.7912348 3.09670269,12.575256 C3.32286929,13.5504364 3.68997402,14.4554354 4.22796982,15.371754 C4.98880412,16.6388376 5.98607875,17.7146205 7.22051721,18.5597674 C8.41429488,19.4042068 9.78330465,19.9585824 11.2417392,20.279209 C12.1358425,20.4413617 13.0739347,20.512109 14.0007403,20.4703681 C13.6401471,19.8888256 13.4034173,19.2745978 13.3006801,18.5597674 C13.1763825,17.8370133 13.2087954,17.1218999 13.3409068,16.3467929 C13.5052864,15.4009019 13.8663137,14.5260412 14.367845,13.7113157 C14.9064196,12.8960242 15.6051775,12.1523289 16.4266412,11.5584763 C16.9630453,11.1771485 17.5286789,10.8858113 18.0951806,10.6529113 L17.795651,10.3211066 C16.8603081,9.3865352 15.7997994,8.63137887 14.5646374,8.14916549" id="Fill-25" fill="#ED3921"></path> <path d="M23.4530285,13.7113298 L23.1568269,13.2186458 C22.72316,14.6866516 21.9193497,15.9858545 20.8925562,17.162523 C20.6555371,18.1372789 20.2544278,19.0127055 19.7310467,19.8279971 C19.194932,20.632252 18.4941484,21.3565625 17.6933768,21.9706488 C18.2595892,22.0000797 18.8253674,21.9110796 19.3917245,21.7084594 C19.9245111,21.5174418 20.4186627,21.2262461 20.9226539,20.8324668 C21.5931952,20.2196539 22.2206158,19.4957679 22.7548494,18.7516481 L22.8464447,18.6210487 C23.0834638,18.1372789 23.3209171,17.6458683 23.4831261,17.1916709 C23.6498209,16.6987039 23.7522687,16.2163491 23.7839581,15.7652645 C23.8143452,15.2704581 23.8143452,14.8472479 23.7221711,14.4258772 C23.6498209,14.1655273 23.546939,13.9329103 23.4530285,13.7113298" id="Fill-27" fill="#FF8800"></path> <path d="M1.56096921,7.98624869 C1.12961755,9.15598401 0.894334821,10.3910898 0.832547783,11.7304771 C0.802160715,13.4483622 1.12961755,15.1095081 1.80001415,16.6704758 C2.12660278,17.4127561 2.53046138,18.1373496 3.02200838,18.8226076 C3.49807245,19.4658418 4.02130882,20.0902572 4.61689535,20.6323227 C3.32284035,19.2337908 2.55795444,17.6145273 2.32556572,15.7943416 C2.26204228,15.1711997 2.26204228,14.5873932 2.29344225,13.9735899 C1.86209059,12.794516 1.62492676,11.62945 1.62492676,10.4223601 C1.62492676,9.28630047 1.82938831,8.17938873 2.19070502,7.04106519 C2.49833791,6.25817593 2.88888408,5.51278272 3.32284035,4.83092056 C2.55795444,5.80624239 1.99637249,6.85132102 1.56096921,7.98624869" id="Fill-29" fill="#F76418"></path> <path d="M24.2778493,8.67224249 C23.9783196,7.72649302 23.5880628,6.8105989 23.0834928,5.96587652 C22.5900647,5.15129249 21.9813104,4.40561629 21.2537572,3.72389562 C20.593779,3.03793011 19.8231051,2.45426516 18.9593889,1.96271314 C19.6876656,2.45426516 20.3558917,3.03793011 20.9542275,3.69262533 C21.8900045,4.7287898 22.5900647,5.83527707 23.0214163,7.07292976 C23.4530574,8.33902286 23.6498499,9.64855478 23.5469679,11.0061948 C23.517015,11.4289805 23.4530574,11.8204959 23.3828778,12.2432816 C23.5469679,12.504339 23.7222,12.8258146 23.8566266,13.1576192 C24.1836493,14.1042177 24.2457258,15.1095364 24.0812015,16.1161285 C24.5854821,14.7191529 24.841457,13.2474683 24.8112146,11.7305054 C24.7491382,10.6842948 24.5854821,9.64855478 24.2778493,8.67224249" id="Fill-31" fill="#F76418"></path> <path d="M20.3558917,11.7600353 C20.6858084,12.4438784 20.8924405,13.1892716 20.9840358,13.9329668 C21.0893776,14.6865667 21.1184624,15.4009726 21.0569647,16.1162275 L20.9226828,16.8303504 C21.9193787,15.6944323 22.5900647,14.4257923 22.9814791,12.9563716 C22.7548783,12.7360646 22.5177145,12.5042965 22.2485719,12.3142694 C21.714483,11.9509114 21.0893776,11.7600353 20.3558917,11.7600353" id="Fill-33" fill="#F76418"></path> <path d="M18.3623119,20.340844 C18.7635659,19.7861854 19.0921803,19.175212 19.3290548,18.5597108 C17.9901427,19.4956971 16.5317081,20.1503924 14.9368211,20.4703115 C15.1629878,20.8325375 15.4697524,21.1258557 15.7998139,21.3566333 C16.1304541,21.5777892 16.4994399,21.739093 16.9306469,21.8702584 C17.467051,21.4171929 17.960045,20.8929557 18.3623119,20.340844" id="Fill-35" fill="#ED3921"></path> <path d="M11.6731053,23.8208596 L13.1063621,23.8906164 C14.3399323,23.8617516 15.5001395,23.6305495 16.6343006,23.2674745 C17.6933623,22.9155776 18.731153,22.4226106 19.628295,21.8088074 C19.0606357,22.0711382 18.4640362,22.2620143 17.828223,22.2911622 C17.6314306,22.3312052 17.3944114,22.3312052 17.1683895,22.3312052 C15.5345782,23.3689261 13.6996334,23.8617516 11.6731053,23.8208596" id="Fill-37" fill="#ED3921"></path> <path d="M19.5958677,14.3953144 C19.3916955,13.5504505 19.0921659,12.7674198 18.6608142,12.0217436 C17.8983882,12.243324 17.2298727,12.6359713 16.6017286,13.1576617 C15.9335025,13.7113298 15.3681583,14.3953144 14.9368067,15.1711289 C14.5646374,15.9541597 14.3399178,16.6987039 14.2678571,17.4824422 C14.1755383,18.2271279 14.2678571,18.9125274 14.4727527,19.5658077 C14.5646374,19.7862562 14.6374217,19.9876029 14.7722824,20.1800355 C15.6051775,20.0903279 16.3651436,19.8575694 17.1277143,19.5356693 C17.9284859,19.23372 18.6608142,18.8226784 19.3592827,18.2997146 L19.4210697,18.2578322 C19.5562198,17.7744869 19.6586676,17.2823689 19.7310178,16.7978916 C19.7904896,15.9858545 19.760392,15.2094739 19.5958677,14.3953144" id="Fill-39" fill="#FFEC00"></path> </g> </g> </g> </g> </svg>
					</span>
				</ion-label>
				<ion-checkbox color="green"></ion-checkbox>
			</ion-item>
		</div>
		<div class="list__store">
			<ion-item>
				<ion-label>
					<span>Pagar na entrega</span>
				</ion-label>
				<ion-checkbox color="green" (ionChange)="delivery()"></ion-checkbox>
			</ion-item>
		</div>

		<ion-item *ngIf="exchange" class="hr">
			<ion-label>Cartão de crédito/débito</ion-label>
			<ion-toggle color="green" (ionChange)="flagCards()"></ion-toggle>
		</ion-item>
		<div class="show__cards" *ngIf="hasCards">
			<span>Aceitamos essas bandeiras</span>
			<div class="icons icon-visa-dark"></div>
			<div class="icons icon-master-card-dark"></div>
			<div class="icons icon-elo-dark"></div>
			<div class="icons icon-american-express-dark"></div>
		</div>


		<ion-item *ngIf="exchange">
			<ion-label>Dinheiro</ion-label>
			<ion-toggle color="green" (ionChange)="getExchange()"></ion-toggle>
		</ion-item>
		<ion-item class="exchange" *ngIf="hasExchange">
			<ion-label>Precisa de troco?</ion-label>
			<ion-toggle color="green" (ionChange)="getExchanges()"></ion-toggle>
		</ion-item>
	</div>

	<div class="exchange__wrap" *ngIf="hasExchanges">
		<ion-list>
			<ion-item>
				<ion-label floating>Troco pra quanto?</ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
		</ion-list>
	</div>

	<div class="total value__cupom">
		<p>Total</p>
		<p>R$ 1.198,00</p>
	</div>

	<div class="buttom__checkout">
		<button ion-button block class="button__default button__green" (click)="confirmation()">
			<svg width="27px" height="26px" viewBox="-1 0 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Group-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M25.2523478,9.1681681 C25.2512609,9.16385776 25.2508261,9.15976293 25.2497391,9.15545259 C25.2477826,9.14747845 25.2466957,9.1405819 25.2447391,9.13260776 C23.4812609,4.39101293 18.8723478,1.00006466 13.4786522,1.00006466 C6.568,1.00006466 0.999956522,6.56644397 0.999956522,13.4086853 C0.999956522,20.2507112 6.568,25.8170905 13.4786522,25.8170905 C18.8049565,25.8170905 23.3656087,22.5108405 25.1771304,17.8623491 C25.1771304,17.8623491 25.383,17.1774353 24.7151739,16.9134267 C24.088,16.6653664 23.7784348,17.154806 23.6843043,17.348125 C22.0884348,21.3849784 18.1156087,24.2520043 13.4786522,24.2520043 C7.43865217,24.2520043 2.57886957,19.3875647 2.57886957,13.4086853 C2.57886957,7.42959052 7.43865217,2.56536638 13.4786522,2.56536638 C18.7771304,2.56536638 23.2086522,6.30825431 24.2173478,11.2634267 C24.2464783,11.448125 24.2638696,11.5629957 24.2847391,11.7181681 C24.4366957,12.8390733 23.4451739,12.7886422 23.4451739,12.7886422 C23.4451739,12.7886422 21.6095217,12.7744181 21.4897391,12.7744181 C19.4577826,12.7744181 19.1608261,14.5554526 19.1608261,14.5554526 L18.8932174,16.0718319 L18.8962609,16.0737716 L18.6510435,17.3629957 L18.6473478,17.3834698 C18.6399565,17.4261422 18.5084348,18.4270043 17.7286522,18.4323922 C17.0362609,18.429806 16.8932174,17.729375 16.8084348,17.3890733 L16.1310435,14.123125 L16.129087,14.123556 L15.9912609,13.4582543 C15.969087,13.3308836 15.8727826,12.861056 15.586913,12.386056 C15.1232174,11.6153664 14.3834348,11.1899353 13.5032174,11.1867026 L13.5032174,11.1864871 L13.498,11.1864871 L13.4932174,11.1864871 L13.4932174,11.1867026 C11.8123478,11.1925216 11.1323478,12.6580388 11.0023478,13.4552371 L10.9012609,13.9401509 L10.8986522,13.9397198 L10.199087,17.3050216 L10.1923478,17.342306 C10.1847391,17.3867026 10.0766957,18.4384267 9.26995652,18.4319612 C8.54908696,18.4183836 8.44343478,17.6701078 8.3656087,17.3890733 L7.688,14.123125 L7.68604348,14.123556 L7.54843478,13.4582543 C7.52626087,13.3308836 7.42973913,12.861056 7.14386957,12.386056 C6.67865217,11.6123491 5.93517391,11.2313147 5.0503913,11.2313147 L5.0503913,11.2315302 L5.0453913,11.2313147 C4.60952174,11.2313147 4.25604348,11.5817457 4.25604348,12.0138578 C4.25604348,12.4459698 4.60952174,12.7964009 5.0453913,12.7964009 L5.0503913,12.7961853 L5.0503913,12.7970474 C5.75365217,12.7970474 5.92082609,13.5748491 5.94604348,13.7239871 L6.4506087,16.1655819 L6.45365217,16.1649353 L6.76365217,17.6573922 C6.90169565,18.4916595 7.5953913,20.029375 9.268,20.0427371 L9.268,20.0427371 L9.26886957,20.0427371 C9.27582609,20.0427371 9.28256522,20.0431681 9.28952174,20.0431681 L9.28952174,20.0420905 C10.9634348,20.0285129 11.6562609,18.4623491 11.794087,17.6112716 L11.9553913,16.835625 L11.9575652,16.836056 L12.5973478,13.7619181 L12.6049565,13.7192457 C12.6106087,13.6817457 12.7534348,12.8009267 13.4984348,12.7970474 C14.1971304,12.8009267 14.3638696,13.5752802 14.389087,13.7239871 L14.8934348,16.1655819 L14.8964783,16.1649353 L15.2064783,17.6573922 C15.3449565,18.4935991 16.0414783,20.0369181 17.7225652,20.0429526 L17.7225652,20.0431681 L17.7258261,20.0431681 L17.7325652,20.0431681 L17.7325652,20.0429526 C19.4182174,20.0369181 20.1138696,18.4847629 20.2495217,17.6500647 L20.5843043,15.8920905 C20.5862609,15.8821767 20.588,15.8718319 20.5899565,15.8617026 L20.6799565,15.3888578 C20.9825652,14.3392888 21.8988696,14.3722629 21.8988696,14.3722629 L22.454087,14.3722629 L23.3947391,14.3722629 C25.5723478,14.3722629 25.8599565,12.385194 25.8599565,12.385194 C25.963,11.129806 25.4295217,9.62635776 25.2523478,9.1681681" id="Fill-1" fill="#328555"></path> <path d="M24.2523478,8.1681681 C24.2512609,8.16385776 24.2508261,8.15976293 24.2497391,8.15545259 C24.2477826,8.14747845 24.2466957,8.1405819 24.2447391,8.13260776 C22.4812609,3.39101293 17.8723478,6.46551725e-05 12.4786522,6.46551725e-05 C5.568,6.46551725e-05 -4.34782609e-05,5.56644397 -4.34782609e-05,12.4086853 C-4.34782609e-05,19.2507112 5.568,24.8170905 12.4786522,24.8170905 C17.8049565,24.8170905 22.3656087,21.5108405 24.1771304,16.8623491 C24.1771304,16.8623491 24.383,16.1774353 23.7151739,15.9134267 C23.088,15.6653664 22.7784348,16.154806 22.6843043,16.348125 C21.0884348,20.3849784 17.1156087,23.2520043 12.4786522,23.2520043 C6.43865217,23.2520043 1.57886957,18.3875647 1.57886957,12.4086853 C1.57886957,6.42959052 6.43865217,1.56536638 12.4786522,1.56536638 C17.7771304,1.56536638 22.2086522,5.30825431 23.2173478,10.2634267 C23.2464783,10.448125 23.2638696,10.5629957 23.2847391,10.7181681 C23.4366957,11.8390733 22.4451739,11.7886422 22.4451739,11.7886422 C22.4451739,11.7886422 20.6095217,11.7744181 20.4897391,11.7744181 C18.4577826,11.7744181 18.1608261,13.5554526 18.1608261,13.5554526 L17.8932174,15.0718319 L17.8962609,15.0737716 L17.6510435,16.3629957 L17.6473478,16.3834698 C17.6399565,16.4261422 17.5084348,17.4270043 16.7286522,17.4323922 C16.0362609,17.429806 15.8932174,16.729375 15.8084348,16.3890733 L15.1310435,13.123125 L15.129087,13.123556 L14.9912609,12.4582543 C14.969087,12.3308836 14.8727826,11.861056 14.586913,11.386056 C14.1232174,10.6153664 13.3834348,10.1899353 12.5032174,10.1867026 L12.5032174,10.1864871 L12.498,10.1864871 L12.4932174,10.1864871 L12.4932174,10.1867026 C10.8123478,10.1925216 10.1323478,11.6580388 10.0023478,12.4552371 L9.90126087,12.9401509 L9.89865217,12.9397198 L9.19908696,16.3050216 L9.19234783,16.342306 C9.18473913,16.3867026 9.07669565,17.4384267 8.26995652,17.4319612 C7.54908696,17.4183836 7.44343478,16.6701078 7.3656087,16.3890733 L6.688,13.123125 L6.68604348,13.123556 L6.54843478,12.4582543 C6.52626087,12.3308836 6.42973913,11.861056 6.14386957,11.386056 C5.67865217,10.6123491 4.93517391,10.2313147 4.0503913,10.2313147 L4.0503913,10.2315302 L4.0453913,10.2313147 C3.60952174,10.2313147 3.25604348,10.5817457 3.25604348,11.0138578 C3.25604348,11.4459698 3.60952174,11.7964009 4.0453913,11.7964009 L4.0503913,11.7961853 L4.0503913,11.7970474 C4.75365217,11.7970474 4.92082609,12.5748491 4.94604348,12.7239871 L5.4506087,15.1655819 L5.45365217,15.1649353 L5.76365217,16.6573922 C5.90169565,17.4916595 6.5953913,19.029375 8.268,19.0427371 L8.268,19.0427371 L8.26886957,19.0427371 C8.27582609,19.0427371 8.28256522,19.0431681 8.28952174,19.0431681 L8.28952174,19.0420905 C9.96343478,19.0285129 10.6562609,17.4623491 10.794087,16.6112716 L10.9553913,15.835625 L10.9575652,15.836056 L11.5973478,12.7619181 L11.6049565,12.7192457 C11.6106087,12.6817457 11.7534348,11.8009267 12.4984348,11.7970474 C13.1971304,11.8009267 13.3638696,12.5752802 13.389087,12.7239871 L13.8934348,15.1655819 L13.8964783,15.1649353 L14.2064783,16.6573922 C14.3449565,17.4935991 15.0414783,19.0369181 16.7225652,19.0429526 L16.7225652,19.0431681 L16.7258261,19.0431681 L16.7325652,19.0431681 L16.7325652,19.0429526 C18.4182174,19.0369181 19.1138696,17.4847629 19.2495217,16.6500647 L19.5843043,14.8920905 C19.5862609,14.8821767 19.588,14.8718319 19.5899565,14.8617026 L19.6799565,14.3888578 C19.9825652,13.3392888 20.8988696,13.3722629 20.8988696,13.3722629 L21.454087,13.3722629 L22.3947391,13.3722629 C24.5723478,13.3722629 24.8599565,11.385194 24.8599565,11.385194 C24.963,10.129806 24.4295217,8.62635776 24.2523478,8.1681681" id="Fill-1" fill="#FEFEFE"></path> </g> </svg>
			Finalizar compra
		</button>
	</div>



</ion-content>
