.payment__select{
	text-transform: uppercase;

	.list__store .item-block{
		padding: 16px!important;
	}

	.paypal{
		position: relative;

		&:after{
			content: '';
			position: absolute;
			width: calc(100% - 32px);
			height: 1px;
			background: #E1E1E1;
			bottom: 0;
			left: 16px;
		}
	}


	ion-label{
		font-size: 1.4rem!important;
		line-height: 1.7;
		color: $primary;
		font-weight: bold;
		text-transform: uppercase;

		span{font-size: 1.4rem!important;}
	}
	.item-inner{
		border: 0 !important;
	}
}

.exchange{
	background: $gray-light;
	padding: 16px 0 16px 16px;
}

.exchange__wrap{
	padding: 0 16px;
}

.buttom__checkout{
	padding: 16px;
	svg{margin-right: 16px;}
}

.show__cards{
	padding: 16px;
	background: $gray-light;
	@include flexbox(row wrap, flex-start, center, center);

	span{
		display: block;
		width: 100%;
		font-size: 1rem;
		margin-bottom: 5px;
	}

	.icons{margin-right: 10px;margin-bottom: 5px;}
}

.total{margin-top: 20px;}