<ion-menu [content]="content" class="menu__default">
	<ion-content>
		<ion-item menuClose class="avatar__menu" (click)="goToProfile()">
			<ion-avatar item-left>
				<img src="assets/images/avatar.jpg">
			</ion-avatar>
			<h2>Marty McFly</h2>
			<p>
				<svg width="11px" height="12px" viewBox="0 0 11 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Home---Menu" transform="translate(-99.000000, -127.000000)" fill="#FFFFFF"> <g id="side-nav"> <path d="M104.250075,134.025208 C103.590205,134.025208 103.055212,133.491882 103.055212,132.834068 C103.055212,132.176878 103.590205,131.641802 104.250075,131.641802 C104.909319,131.641802 105.446694,132.176878 105.446694,132.834068 C105.446694,133.491757 104.909319,134.025208 104.250075,134.025208 M109.117795,132.528721 L107.32901,132.082386 C107.285128,131.900903 107.223817,131.72017 107.145832,131.546686 L108.284023,130.101568 C108.449775,129.956456 108.49955,129.741601 108.394984,129.623487 L107.965184,129.136781 C107.859991,129.019792 107.642208,129.04004 107.475829,129.185777 L105.895049,130.131565 C105.731555,130.031949 105.559911,129.949582 105.38438,129.880963 L105.165343,128.058005 C105.178633,127.837401 105.061905,127.652542 104.904178,127.642168 L104.253586,127.601797 C104.096987,127.590298 103.956563,127.760158 103.942771,127.981387 L103.49617,129.765224 C103.313618,129.808345 103.131568,129.869464 102.958294,129.947832 L101.508033,128.814311 C101.362468,128.647201 101.147568,128.598831 101.029712,128.701446 L100.540357,129.132282 C100.421874,129.234772 100.445069,129.453127 100.590634,129.619487 L101.539378,131.194718 C101.439953,131.357703 101.356826,131.528187 101.289748,131.703921 L99.4587116,131.921651 C99.2385458,131.908402 99.0519817,132.025267 99.0409483,132.183127 L99.0004508,132.831693 C98.9900444,132.987178 99.1610615,133.127166 99.3817288,133.141039 L101.171641,133.586874 C101.215524,133.768357 101.276207,133.94859 101.353692,134.123074 L100.214873,135.567567 C100.05025,135.712304 99.9993464,135.927034 100.104539,136.045023 L100.534966,136.532853 C100.640159,136.649968 100.859071,136.627345 101.024321,136.481608 L102.605728,135.536945 C102.769222,135.635436 102.939738,135.717803 103.115269,135.785297 L103.335434,137.61213 C103.322144,137.82986 103.437744,138.016467 103.595972,138.026842 L104.246564,138.067713 C104.404291,138.077462 104.543588,137.906978 104.556752,137.685873 L105.00398,135.903286 C105.18766,135.85954 105.367955,135.799671 105.542483,135.719553 L106.99149,136.855949 C107.137682,137.021184 107.351453,137.070804 107.471065,136.966564 L107.959918,136.536853 C108.077273,136.431988 108.055833,136.213758 107.908513,136.049523 L106.960897,134.474792 C107.060323,134.311182 107.142948,134.140698 107.211029,133.963339 L109.040812,133.744484 C109.262106,133.758858 109.449297,133.644243 109.458575,133.486383 L109.499574,132.837317 C109.509604,132.680832 109.339089,132.541469 109.117795,132.528721" id="Page-1"></path> </g> </g> </g> </svg>
				Minha conta
			</p>
		</ion-item>
		<div class="menu__content">
			<ion-list>
				<button ion-item menuClose *ngFor="let p of menu" (click)="openPage(p)">
					<ion-icon item-left class="{{p.classIcon}}"></ion-icon>
					{{p.title}}
				</button>
			</ion-list>
			<ion-list class="menu__bottom">
				<button ion-item menuClose *ngFor="let p of menuBottom" (click)="openPage(p)">
					{{p.title}}
				</button>
			</ion-list>
		</div>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>