.list__stores{


	.title__stores{
		text-align: center;
		padding: 1rem 1.6rem;
		h2{
			color: $black;
			font-size: 2.3rem;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			padding-bottom: 2rem;
			@extend %quenda;
		}
	}


	.list__stores--items{
		.item-inner{border-bottom: 0 !important;}
		.label{
			h2{
				color: $black
			}
		}
		ion-avatar{
			img{
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}
	}
}