<!--
  Generated template for the ProductsStores page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Selecione uma loja" checkout></headers>
</ion-header>



<ion-content>

	<div class="list__stores">

		<div class="title__stores">
			<h2>Escolha a loja<br>desejada</h2>
		</div>


		<div class="list__stores--items">
			<ion-list>
				<ion-item *ngFor="let st of stores" (click)="goTo()">
					<ion-avatar item-left>
						<img src="{{st.brand}}">
					</ion-avatar>
					<h2>{{st.title}}</h2>
					<p>{{st.distance}}</p>
				</ion-item>
			</ion-list>
		</div>

	</div>


</ion-content>
