<!--
  Generated template for the ResetPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Redefinir senha"></headers>
</ion-header>

<ion-content padding>
	<div class="info__text">
		<p>Para redefinir sua senha<br>escreva um email válido abaixo</p>
	</div>

    <form [formGroup]="recoverForm" (ngSubmit)="recover(recoverForm.value, recoverForm.valid)" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
        </ion-list>

        <button [disabled]="!recoverForm.valid" type="submit" ion-button block class="button__default button__green">
            Enviar
        </button>
    </form>

	<has-account hasAccount="true"></has-account>
</ion-content>
