<!--
  Generated template for the MyOrders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Meus pedidos" checkout></headers>
</ion-header>



<ion-content>


	<div class="title__content">
		<div class="title alt">
			<h3>Número do pedido</h3>
		</div>
	</div>
	<div class="value__cupom list__order">
		<div class="item no-bd">
			<p>#546853</p>
			<div class="label__order delivered">Entregue</div>
		</div>
	</div>

	<div class="checkout">
		<div class="title__content">
			<div class="title alt">
				<h3>Itens</h3>
			</div>
		</div>
		<div class="single__header">
			<div class="wrap">
				<div class="single__thumb">
					<img src="assets/images/thumb-single.jpg" alt="">
					<span class="stamp"></span>
				</div>
				<div class="single__info">
					<h2>ALCATRA MIOLO MASTER GRILL</h2>
					<div class="brand">Sadia</div>
					<div class="pricing">R$ 59,90</div>
				</div>
			</div>
		</div>
		<div class="single__header">
			<div class="wrap">
				<div class="single__thumb">
					<img src="assets/images/thumb-single.jpg" alt="">
				</div>
				<div class="single__info">
					<h2>ALCATRA MASTER GRILL</h2>
					<div class="brand">Sadia</div>
					<div class="pricing">R$ 69,90</div>
				</div>
			</div>
		</div>
		<div class="single__header">
			<div class="wrap">
				<div class="single__thumb">
					<img src="assets/images/thumb-single.jpg" alt="">
				</div>
				<div class="single__info">
					<h2>ALCATRA MIOLO MASTER</h2>
					<div class="brand">Sadia</div>
					<div class="pricing">R$ 79,90</div>
				</div>
			</div>
		</div>
	</div>


	<div class="title__content">
		<div class="title alt">
			<h3>Endereço</h3>
		</div>
	</div>
	<div class="my__Address">
		<p>Casa</p>
		<span>Rua das andorinhas, 326</span>
		<span>60123-000 - Fortaleza-CE</span>
	</div>

	<div class="title__content">
		<div class="title">
			<h3>Forma de pagamento</h3>
		</div>
	</div>
	<div class="type__payment">
		<p>Pago na entrega - Cartão</p>
	</div>

	<div class="total value__cupom">
		<p>Total</p>
		<p>R$ 1.198,00</p>
	</div>

	<div class="buttons__confirmation">
		<button ion-button block class="button__default button__red button__outline" (click)="goToCheckout()">Repetir pedidos</button>
	</div>

</ion-content>
