<!--
  Generated template for the Account page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Cadastre-se" [backPage]="backPage" ></headers>
</ion-header>


<ion-content padding>

	<div class="insert__avatar" [class.has-picture]="hasPicture" (click)="takePicture()">
		<svg viewBox="0 0 36 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Login-e-cadastro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Cadastre-se" transform="translate(-162.000000, -200.000000)" fill="#231F20"> <g id="Profile" transform="translate(121.000000, 162.000000)"> <g id="Group-3"> <g id="profile" transform="translate(41.000000, 38.000000)"> <g id="Layer_2"> <g> <g id="Layer_1-2"> <path d="M17.5482257,23.0423952 L17.8251488,23.0423952 C20.1376882,23.0874298 22.3525567,22.0992984 23.8805334,20.3408734 C27.1943795,16.4989169 26.6497642,9.90869952 26.575918,9.28239517 C26.3636103,4.60848213 24.1943795,2.29956909 22.4036103,1.25261256 C20.9969473,0.44050757 19.4073986,0.00910635834 17.7882257,3.86896798e-06 L17.6405334,3.86896798e-06 C16.0247436,-0.00146783596 14.4356084,0.416946853 13.0251488,1.21522126 C11.1789949,2.27152561 9.01899493,4.5243517 8.80668724,9.28239517 C8.75130262,9.90869952 8.19745647,16.4989169 11.5020719,20.3408734 C13.0256592,22.0999423 15.2381268,23.0885095 17.5482257,23.0423952 L17.5482257,23.0423952 Z M11.0866872,9.506743 L11.0866872,9.43196039 C11.3728411,3.08478648 15.7020719,2.40239517 17.6220719,2.40239517 L17.7236103,2.40239517 C20.0405334,2.45848213 23.9913026,3.43065604 24.2589949,9.43196039 C24.253754,9.45660543 24.253754,9.48209796 24.2589949,9.506743 C24.2589949,9.57217778 24.8682257,15.5921778 22.135918,18.7610908 C21.012271,20.028037 19.3846974,20.7147924 17.7051488,20.630656 L17.6220719,20.630656 C15.9445213,20.7187387 14.3181493,20.0310576 13.2005334,18.7610908 C10.4682257,15.6015256 11.0866872,9.55348213 11.0866872,9.506743 L11.0866872,9.506743 Z M35.3174565,33.9700039 L35.3174565,33.9700039 L35.3174565,33.745656 C35.2620719,31.9882647 35.1513026,27.8939169 31.4220719,26.5852213 L31.3389949,26.5852213 C28.7922013,25.8476512 26.3796446,24.698676 24.1943795,23.1826126 C23.9435832,22.9998986 23.6305003,22.9276146 23.326283,22.9821879 C23.0220656,23.0367612 22.7525529,23.2135566 22.5789949,23.4723952 C22.2108589,24.0133659 22.3380961,24.7532182 22.8651488,25.1363082 C25.2607403,26.8093029 27.9114038,28.0724921 30.7113026,28.8754387 C32.7143795,29.6139169 32.935918,31.8200039 33.0005334,33.8297865 C32.99584,33.9044936 32.99584,33.9794272 33.0005334,34.0541343 C33.0145375,34.9707218 32.9527836,35.8868887 32.815918,36.7930473 C28.146977,39.2656073 22.9357539,40.5005165 17.6682257,40.3826126 C12.3913375,40.4811694 7.17511932,39.2305058 2.50207185,36.7463082 C2.3606042,35.8406702 2.29882315,34.9241002 2.31745647,34.0073952 L2.31745647,33.7830473 C2.39130262,31.7826126 2.61284108,29.55783 4.62514878,28.8286995 C7.42335936,28.0211876 10.0733135,26.7583365 12.4713026,25.0895691 C12.9983553,24.7064791 13.1255925,23.9666268 12.7574565,23.425656 C12.5838985,23.1668175 12.3143858,22.9900221 12.0101684,22.9354487 C11.7059511,22.8808754 11.3928682,22.9531595 11.1420719,23.1358734 C8.95818761,24.6351954 6.54836003,25.7654134 4.00668724,26.4823952 L3.92361031,26.4823952 C0.185148776,27.8658734 0.074379545,31.9695691 0.00976416036,33.7176126 C0.0141989245,33.7923277 0.0141989245,33.8672452 0.00976416036,33.9419604 L0.00976416036,33.9419604 C-0.0408235767,35.29302 0.105360412,36.6442583 0.443610314,37.9521778 C0.527205804,38.1829186 0.682743456,38.3798061 0.886687237,38.5130473 C1.14514878,38.690656 7.3482257,42.7476126 17.6682257,42.7476126 C27.9882257,42.7476126 34.1636103,38.7000039 34.4589949,38.531743 C34.6607491,38.3960627 34.815646,38.1999864 34.9020719,37.9708734 C35.2236906,36.6633202 35.3635012,35.3167036 35.3174565,33.9700039 L35.3174565,33.9700039 Z" id="Shape"></path> </g> </g> </g> </g> </g> </g> </g> </g> </svg>
		<div class="thumb">
			<img [src]="base64Image" *ngIf="base64Image" />
		</div>
	</div>

    <form [formGroup]="registerForm" (ngSubmit)="save(registerForm.value, registerForm.valid)" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Nome completo</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Telefone</ion-label>
                <ion-input [textMask]="{ mask: phoneMask}" type="text" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>CPF</ion-label>
                <ion-input [textMask]="{ mask: cpfMask}" type="text" formControlName="cpf"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item [hidden]="isEdite">
                <ion-label floating>Confirmar email</ion-label>
                <ion-input validateEqual="email" type="email" formControlName="email_confirmation"></ion-input>
            </ion-item>
            <ion-item [hidden]="isEdite">
                <ion-label floating>Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item [hidden]="isEdite">
                <ion-label floating>Confirmar Senha</ion-label>
                <ion-input validateEqual="password" type="password" formControlName="password_confirmation"></ion-input>
            </ion-item>
        </ion-list>
        <button [disabled]="!registerForm.valid" type="submit" ion-button block class="button__default button__green" >
            <svg width="33px" height="23px" viewBox="0 0 33 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Login-e-cadastro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Cadastre-se" transform="translate(-164.000000, -763.000000)" stroke-width="2" stroke="#FFFFFF"> <g id="Button-GREEN" transform="translate(15.000000, 751.000000)"> <polyline id="Page-1" points="150 22.7825131 160.525662 33.3081754 180.834752 13"></polyline> </g> </g> </g> </svg>
        </button>
    </form>

	<has-account hasAccount="true" [hidden]="isEdite"></has-account>


</ion-content>
