.btn__address{
	@include flexbox(row nowrap, flex-start, center, center);
	svg{
		margin-left: 20px;
	}
	p{
		margin-left: 30px;
		color: $black;
	}
}

.icon__not{
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10vh;
}
.title__not{
	text-align: center;
	color: $black;
	opacity: 0.7;
	@extend %quenda;
}



.list__products{

	.item-block{
		.item-inner{
			border: 0;
		}
		&:nth-last-child(odd){
			background: $gray-light;
		}
	}

	.info__products--wrap{
		width: 100%;
		@include flexbox(row nowrap, space-between, center, center);
	}

	.info__products{
		width: calc(100% - 90px);

		h2{
			text-transform: uppercase;
			color: $secondary;
			font-weight: bold;
			font-size: 1.4rem;
			white-space: normal!important;
		}

		p{
			font-size: 1.3rem;
			color: #717171;
			&.brand{
				color: $black;
				font-size: 1.2rem;
			}
		}
	}

	&.list__products--related{
		.thumb{
			width: 60px;
			height: 60px;
			border-radius: 4px;
			border: 1px solid #E7E7E7;
			margin-right: 16px;
			position: relative;
			@include flexbox(row nowrap, center, center, center);
		}
		.stamp{
			width: 30px;
			height: 30px;
			position: absolute;
			top: 30px;
			right: -10px;
		    background-size: contain;
		}
	}

}
