<!--
  Generated template for the ProductsStoresList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Produtos" checkout></headers>
</ion-header>



<ion-content>

	<div class="products__store--list">
		<div class="products__store--list--item">
			<ion-list>
				<ion-item>
					<ion-avatar item-left>
						<img src="assets/images/stores/store-1.jpg">
					</ion-avatar>
					<h2>Carnes Gourmet</h2>
					<p>0.5km</p>
					<div class="inf">
						<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Produtos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Produtos---Lista-lojas-MENU" transform="translate(-325.000000, -154.000000)" fill="#CF0A2C"> <g id="Group-9" transform="translate(325.000000, 154.000000)"> <path d="M1,10 C1,14.9713389 5.02899905,19 10,19 C14.9713389,19 19,14.971001 19,10 C19,5.0286611 14.971001,1 10,1 C5.0286611,1 1,5.02899905 1,10 Z M0,10 C0,4.4771525 4.47593818,0 10,0 C15.5228475,0 20,4.47593818 20,10 C20,15.5228475 15.5240618,20 10,20 C4.4771525,20 0,15.5240618 0,10 Z" id="Rectangle-8"></path> <path d="M9.1000061,9.60263337 C9.1000061,9.10412104 9.49948443,8.69999695 10.0000061,8.69999695 C10.4970623,8.69999695 10.9000061,9.09409018 10.9000061,9.60263337 L10.9000061,14.0973607 C10.9000061,14.595873 10.5005277,14.9999971 10.0000061,14.9999971 C9.50294982,14.9999971 9.1000061,14.6059039 9.1000061,14.0973607 L9.1000061,9.60263337 Z" id="Rectangle-7"></path> <path d="M9,6 C9,5.44771525 9.44386482,5 10,5 C10.5522847,5 11,5.44386482 11,6 C11,6.55228475 10.5561352,7 10,7 C9.44771525,7 9,6.55613518 9,6 Z" id="Rectangle-6"></path> </g> </g> </g> </svg>
					</div>
				</ion-item>
			</ion-list>
		</div>

		<div class="products__category--list">
			<div class="products__category--item" *ngFor="let cps of categoryProductsStores" (click)="goTo()">
				<div class="name"><h2>{{cps.name}}</h2></div>
				<div class="thumb" [ngStyle]="{backgroundImage: 'url('+cps.thumb+')'}"></div>
			</div>
		</div>


	</div>

</ion-content>
