.products__store--list{

	.products__store--list--item{
		.item-inner{border-bottom: 0 !important;}

		.list{
			position: relative;
			margin: 0;
		}

		.inf{
			position: absolute;
			right: 16px;
			top: 16px;
		}
	}


	.products__category--list{

		.products__category--item{
			border-top: 1px solid #DEDBDB;
			@include flexbox(row nowrap, space-between, center, stretch);

			.name{
				width: 60%;
				padding-left: 16px;
				@include flexbox(row nowrap, flex-start, center, center);

				h2{
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1.3rem;
					color: #6F6F6D;
				}
			}
			.thumb{
				width: 40%;
				min-height: 88px;
				overflow: hidden;
				background-size: cover;



			}
		}

	}
}