.list__order{

	&:last-child{.item{border: 0;}}
	.item{
		width: 100%;
		border-bottom: 1px solid #DDDDDD;
		@include flexbox(row nowrap, space-between, center, center);

		&.no-bd{border: 0;}
	}

	.label__order{
		text-transform: uppercase;
		font-size: 1.1rem;
		padding: 2px 4px;
		border-radius: 4px;
		border: 1px solid #f7f7f7;

		&.delivered{border-color: #389861; color: #389861}
		&.progress{border-color: #D48E1B; color: #D48E1B}
		&.out__delivery{border-color: #3975BA; color: #3975BA}
		&.cancel{border-color: #CF0A2C; color: #CF0A2C}
	}
}