<!--
  Generated template for the Orders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<headers title="Meus pedidos" checkout></headers>
</ion-header>



<ion-content>
	<div class="title__content">
		<div class="title alt">
			<h3>Número do pedido</h3>
		</div>
	</div>
	<div class="value__cupom list__order" (click)="goToOrder()">
		<div class="item">
			<p>#546853</p>
			<div class="label__order delivered">Entregue</div>
		</div>
	</div>
	<div class="value__cupom list__order" (click)="goToOrder()">
		<div class="item">
			<p>#654654</p>
			<div class="label__order progress">Em andamento</div>
		</div>
	</div>
	<div class="value__cupom list__order" (click)="goToOrder()">
		<div class="item">
			<p>#958953</p>
			<div class="label__order out__delivery">saiu para entreha</div>
		</div>
	</div>
	<div class="value__cupom list__order" (click)="goToOrder()">
		<div class="item">
			<p>#546234</p>
			<div class="label__order cancel">Cancelado</div>
		</div>
	</div>

</ion-content>
