// COLORS
$white: white;
$black: black;
$green: #28bec3;
$blue: #40b8d2;
$orange: #e7541f;
$gray: #e6e6e6;
$red: #e2461c;

$title: #282828;
$text: #959595;

$hr: #e5e5e5;
$bg: #edede9;

$green-btn: #40d2b8;
$green-light: #91c400;
$green-dark: #4b8988;