.item-block{
	padding-left: 0;
	padding-right: 0;
	&.item.item-md.item-label-floating.item-input,
	&.item.item-wp.item-label-floating.item-input,
	&.item.item-ios.item-label-floating.item-input{
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;

		.item-inner{
			padding-right: 0;
			box-shadow: none;
		}

	}

}

.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content{
	padding-top: 0 !important;
}

.item-label-stacked ion-label,
.item-label-floating ion-label{
	text-transform: uppercase;
}


.picker-opt{
	opacity: 0.5;
	&.picker-opt-selected{opacity: 1;}
}


.item-datetime{padding-left: 0 !important;}

.input-has-value,
.input-has-focus .label-md[stacked],
.input-has-focus .label-md[floating],
.input-has-focus .label-wp[stacked],
.input-has-focus .label-wp[floating],
.input-has-focus .label-ios[stacked],
.input-has-focus .label-ios[floating]{
	color: #9E9E9E!important;
}

.item-label-stacked .text-input-md,
.item-label-floating .text-input-md,
.item-label-stacked .text-input-wp,
.item-label-floating .text-input-wp,
.item-label-stacked .text-input-ios,
.item-label-floating .text-input-ios,
.datetime-text{
	color: $primary;
}

.list-md .item-block .item-inner,
.list-wp .item-block .item-inner,
.list-ios .item-block .item-inner{
	border-bottom: 2px solid #F2F2F2!important;
}

.list-ios{
	margin: 0 !important;
	padding-bottom: 16px !important;
}

.text-input-wp{border: 0!important;padding: 0 !important;}
.label-wp[floating] {
    -webkit-transform: translate3d(0, 34px, 0)!important;
    transform: translate3d(0, 34px, 0)!important;
}

.input-has-focus .label-wp[floating],
.input-has-value .label-wp[floating]{
	-webkit-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block,
.list-wp > .item-block:last-child,
.list-wp > .item-wrapper:last-child .item-block,
.list-md > .item-block:last-child,
.list-md > .item-wrapper:last-child .item-block{
	border-bottom: 0px solid #F2F2F2!important;
}

.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md,
.item-input .label-wp,
.item-select .label-wp,
.item-datetime .label-wp,
.item-input .label-ios,
.item-select .label-ios,
.item-datetime .label-ios{
	color: #9E9E9E;
}

.list-md > .item-block:first-child,
.list-wp > .item-block:first-child,
.list-ios > .item-block:first-child{
	border-top: 0!important;
}


// DEFAULT SEGMENT IOS
.segment-ios .segment-button:last-of-type{
	border-radius: 0 !important;
}
.segment-ios .segment-button{
	color: #757573!important;
	opacity: 1 !important;
	font-weight: bold !important;
	text-transform: uppercase;
	border-top: 0!important;
	border-left: 0!important;
	border-right: 0!important;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1)!important;
	border-right: 0 !important;
	height: 4.4rem!important;
	padding: 8px 0!important;
}
.segment-ios .segment-button.segment-activated{
	background-color: transparent!important;
	color: $secondary!important;
	border: 0!important;

	&:after {
		content: '';
		background-image: url(../assets/images/svg/arrow-tab.svg);
		position: absolute;
		left: 50%;
		bottom: -1px;
		width: 9px;
		height: 13px;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: #CF0A2C;

	}
}


// SUBHEADER
.subheader__default{
	.toolbar-content{
		@include flexbox(row nowrap, space-between, center, center);
	}

	.toolbar-background-ios{border: 0 !important;}

	.goBack{
		margin: 0 0 0 3px!important;
		&.button-md{
			margin: 0 0 0 8px!important;
		}

		&.button[icon-only]{
			color: white!important;
		}
	}

	.toolbar-title{
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: bold;
		@extend %helv;
	}
}


// 2B2B27