// FLEXBOX

@mixin flex-display {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-grow {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

%flex-display { @include flex-display; }


@mixin flex-flow($values: (row nowrap)) {
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

@mixin justify-content($justify: flex-start) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
}

@mixin align-content($align: center) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

@mixin align-items($align: center) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin flexbox($f-flow, $f-justify, $f-content, $f-items) {
	@include flex-display;
	@include flex-flow($f-flow);
	@include justify-content($f-justify);
	@include align-content($f-content);
	@include align-items($f-items);
}