@font-face {
    font-family: 'helv';
    src: url('../assets/fonts/helv/HelveticaNeue.eot');
    src: url('../assets/fonts/helv/HelveticaNeue.eot') format('embedded-opentype'),
         url('../assets/fonts/helv/HelveticaNeue.woff2') format('woff2'),
         url('../assets/fonts/helv/HelveticaNeue.woff') format('woff'),
         url('../assets/fonts/helv/HelveticaNeue.ttf') format('truetype'),
         url('../assets/fonts/helv/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'QuendaMedium';
    src: url('../assets/fonts/quenda/QuendaMedium.eot');
    src: url('../assets/fonts/quenda/QuendaMedium.eot') format('embedded-opentype'),
         url('../assets/fonts/quenda/QuendaMedium.woff2') format('woff2'),
         url('../assets/fonts/quenda/QuendaMedium.woff') format('woff'),
         url('../assets/fonts/quenda/QuendaMedium.ttf') format('truetype'),
         url('../assets/fonts/quenda/QuendaMedium.svg#QuendaMedium') format('svg');
}
