@mixin xs() {
	@media screen and (max-width: 320px) {
		@content;
	}
}
@mixin sm() {
	@media screen and (min-width: 425px) {
		@content;
	}
}
@mixin md() {
	@media screen and (min-width: 768px) {
		@content;
	}
}
@mixin lg() {
	@media screen and (min-width: 1200px) {
		@content;
	}
}
@mixin media($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}

