%transition{
	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
